#root {
    text-align: center;
    font-size: 25px;
}


#head {
    text-align: center;
	padding-top: 0.2%;
	padding-bottom: 0.2%;
}

#h1 {
    font-size: 20px;
	padding-top: 1%;
	padding-bottom: 0.2%;
}

#h2 {
    font-size: 18px;
	padding-top: 1%;
}

#h3 {
    font-size: 15px;
	padding-top: 1%;
}

.attribute {
  color: #1D9393;
  /* Same font as Mathjax */
  font-family: STIXGeneral;
  font-size: 15px;
  font-style: italic;
}

.simml {
  color: #4D31A9;
  /* Same font as Mathjax */
  font-family: STIXGeneral;
  font-size: 14px;
  font-weight: bold;

}

.simpleContent {
	padding-top: 0.2%;
	padding-bottom: 0.2%;
}

tr:hover,a div:hover,a:not(.x-btn) span:hover, .clicked div, .clicked, .clicked span {
	background-color:#66B2FF;
        -webkit-transition:0.5s;
}

.unclicked div, .unclicked span, .unclicked {
	background-color:#fff;
        -webkit-transition:0.5s;
}


.content_pad_1 {
	padding-left:1%;
}

.content_pad_2 {
	padding-left:1.5%;
}

.content_pad_3 {
	padding-left:2%;
}

.bold {
	font-weight: bold;
    word-wrap: break-word;
}

.code {
	font-family: serif;
	/*color: blue;*/
    font-size: 12px;
	border: 2px solid;
	border-collapse:collapse;
	padding:3px 7px 3px 7px;
}

.MathJax_PHTML {
	color: #6083D2;
    font-size: 16px;
}

#mathmleditorView .MathJax_PHTML {
	color: #6083D2;
    font-size: 22px;
}

.MJXp-math {
    white-space: normal !important;
}

.tabla {
    font-size: 12px;
	border-collapse:collapse;
}

.tabla td, .tabla th {
	border:1px solid #496AB1;
	padding:3px 7px 2px 7px;
}

.tabla th {
	text-align:left;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#496AB1;
	color:#fff;
}

.tabla tr.alt td {
	color:#000;
	background-color:#496AB1;
}

.emptyCell {
	color:white;
    background-color:#9C0901;
}

.logo-icon {
  width: 143!important;
  height: 42!important;
}

.no-icon {
  width: 0!important;
  height: 42!important;
}

.button-validate {
    font-weight: bold !important;
    border: solid 1px #2E52A4;
    background: #2E53A4;
}

.button-validate span{
    color:white !important;
}

.button-validate:focus, .button-validate:hover { 
    border: solid 1px #0C2C70 !important;
    background: #0C2C70 !important;
}

.x-panel-header-default-horizontal {
    padding: 2px 2px 2px 2px;
}

#xmlViewer-body {
    border-color: silver;
}

.botonSimml {
    background-image: -webkit-linear-gradient(top,#FFFFFF,#FFFFFF 50%,#FFFFFF 51%,#FFFFFF) !important;
    background-image: -moz-linear-gradient(top,#FFFFFF,#FFFFFF 50%,#FFFFFF 51%,#FFFFFF);
    background-image: -o-linear-gradient(top,#FFFFFF,#FFFFFF 50%,#FFFFFF 51%,#FFFFFF);
    background-image: linear-gradient(top,#FFFFFF,#FFFFFF 50%,#FFFFFF 51%,#FFFFFF);
    background-color: #FFFFFF !important;
    border-color: #FFFFFF;
}

.botonSimml .x-btn-inner {
    color: #2e52a4;
    font-weight: bold !important;
    font-size: 13px;
}

.botonSimml:hover {
    background-image: -webkit-linear-gradient(top,#2E53A4,#2E53A4 50%,#2E53A4 51%,#2E53A4) !important;
    background-image: -moz-linear-gradient(top,#2E53A4,#2E53A4 50%,#2E53A4 51%,#2E53A4);
    background-image: -o-linear-gradient(top,#2E53A4,#2E53A4 50%,#2E53A4 51%,#2E53A4);
    background-image: linear-gradient(top,#2E53A4,#2E53A4 50%,#2E53A4 51%,#2E53A4);
    background-color: #2E53A4 !important;
    border-color: #FFFFFF;
}

.botonSimml:hover .x-btn-inner {
    color: #FFFFFF;
    font-weight: bold !important;
    font-size: 13px;
}

.x-form-field{
    font-size: medium;
}

.x-header-text {
    padding-left: 5;
}

.x-table-layout-cell {
    width: 26px!important;
    height: 26px!important;
    font-weight:bold;
}

.x-table-layout {
    text-align: center;
}

.x-tool-img {
    height: 15px;
    width: 15px;
}
