<div class="section" id="rst-header-id1">
<span id="rst-header-field"></span><h2>field</h2>
<p>Represents a field.</p>
<div class="section" id="rst-header-scope">
<h3>Scope</h3>
<p>Discretization schema (Inside <em>math</em> tags).</p>
</div>
<div class="section" id="rst-header-infix">
<h3>Infix</h3>
<p>$f</p>
</div>
<div class="section" id="rst-header-usage">
<h3>Usage</h3>
<p>No special usage.</p>
</div>
<div class="section" id="rst-header-example">
<h3>Example</h3>
<div class="line-block">
<div class="line"><br></div>
</div>
<img alt="https://bitbucket.org/iac3/simflowny/wiki/images/UserGuide/simml/field.png" src="https://bitbucket.org/iac3/simflowny/wiki/images/UserGuide/simml/field.png">
<p>If there would be fields <em>A</em> and <em>B</em>, and only one spatial coordinate, it could generate <span class="math"><span class="MathJax_Preview" style="color: inherit;"></span><span class="MathJax" id="MathJax-Element-1-Frame" tabindex="0" data-mathml="<math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;><mi>F</mi><mi>l</mi><mi>u</mi><msub><mi>x</mi><mrow class=&quot;MJX-TeXAtom-ORD&quot;><mi>i</mi><mi>A</mi></mrow></msub><mo stretchy=&quot;false&quot;>(</mo><mi>i</mi><mo stretchy=&quot;false&quot;>)</mo><mo>=</mo><mi>f</mi><mi>l</mi><mi>u</mi><mi>x</mi><mo stretchy=&quot;false&quot;>(</mo><mi>F</mi><mi>i</mi><mi>A</mi><mo>,</mo><msup><mi>A</mi><mi>n</mi></msup><mo stretchy=&quot;false&quot;>(</mo><mi>i</mi><mo stretchy=&quot;false&quot;>)</mo><mo stretchy=&quot;false&quot;>)</mo></math>" role="presentation" style="position: relative;"><nobr aria-hidden="true"><span class="math" id="MathJax-Span-1" role="math" style="width: 14.721em; display: inline-block;"><span style="display: inline-block; position: relative; width: 11.15em; height: 0px; font-size: 132%;"><span style="position: absolute; clip: rect(1.572em 1011.1em 2.817em -999.997em); top: -2.432em; left: 0.003em;"><span class="mrow" id="MathJax-Span-2"><span class="mi" id="MathJax-Span-3" style="font-family: STIXGeneral; font-style: italic;">F<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.057em;"></span></span><span class="mi" id="MathJax-Span-4" style="font-family: STIXGeneral; font-style: italic;">l<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mi" id="MathJax-Span-5" style="font-family: STIXGeneral; font-style: italic;">u</span><span class="msubsup" id="MathJax-Span-6"><span style="display: inline-block; position: relative; width: 1.139em; height: 0px;"><span style="position: absolute; clip: rect(3.412em 1000.44em 4.169em -999.997em); top: -4.002em; left: 0.003em;"><span class="mi" id="MathJax-Span-7" style="font-family: STIXGeneral; font-style: italic;">x<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span><span style="position: absolute; top: -3.839em; left: 0.436em;"><span class="texatom" id="MathJax-Span-8"><span class="mrow" id="MathJax-Span-9"><span class="mi" id="MathJax-Span-10" style="font-size: 70.7%; font-family: STIXGeneral; font-style: italic;">i</span><span class="mi" id="MathJax-Span-11" style="font-size: 70.7%; font-family: STIXGeneral; font-style: italic;">A</span></span></span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span></span></span><span class="mo" id="MathJax-Span-12" style="font-family: STIXGeneral;">(</span><span class="mi" id="MathJax-Span-13" style="font-family: STIXGeneral; font-style: italic;">i</span><span class="mo" id="MathJax-Span-14" style="font-family: STIXGeneral;">)</span><span class="mo" id="MathJax-Span-15" style="font-family: STIXGeneral; padding-left: 0.327em;">=</span><span class="mi" id="MathJax-Span-16" style="font-family: STIXGeneral; font-style: italic; padding-left: 0.327em;">f<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.165em;"></span></span><span class="mi" id="MathJax-Span-17" style="font-family: STIXGeneral; font-style: italic;">l<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mi" id="MathJax-Span-18" style="font-family: STIXGeneral; font-style: italic;">u</span><span class="mi" id="MathJax-Span-19" style="font-family: STIXGeneral; font-style: italic;">x<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mo" id="MathJax-Span-20" style="font-family: STIXGeneral;">(</span><span class="mi" id="MathJax-Span-21" style="font-family: STIXGeneral; font-style: italic;">F<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.057em;"></span></span><span class="mi" id="MathJax-Span-22" style="font-family: STIXGeneral; font-style: italic;">i</span><span class="mi" id="MathJax-Span-23" style="font-family: STIXGeneral; font-style: italic;">A</span><span class="mo" id="MathJax-Span-24" style="font-family: STIXGeneral;">,</span><span class="msubsup" id="MathJax-Span-25" style="padding-left: 0.165em;"><span style="display: inline-block; position: relative; width: 1.031em; height: 0px;"><span style="position: absolute; clip: rect(3.195em 1000.54em 4.169em -999.997em); top: -4.002em; left: 0.003em;"><span class="mi" id="MathJax-Span-26" style="font-family: STIXGeneral; font-style: italic;">A</span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span><span style="position: absolute; top: -4.38em; left: 0.598em;"><span class="mi" id="MathJax-Span-27" style="font-size: 70.7%; font-family: STIXGeneral; font-style: italic;">n</span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span></span></span><span class="mo" id="MathJax-Span-28" style="font-family: STIXGeneral;">(</span><span class="mi" id="MathJax-Span-29" style="font-family: STIXGeneral; font-style: italic;">i</span><span class="mo" id="MathJax-Span-30" style="font-family: STIXGeneral;">)</span><span class="mo" id="MathJax-Span-31" style="font-family: STIXGeneral;">)</span></span><span style="display: inline-block; width: 0px; height: 2.438em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.354em; border-left-width: 0px; border-left-style: solid; width: 0px; height: 1.289em;"></span></span></nobr><span class="MJX_Assistive_MathML" role="presentation"><math xmlns="http://www.w3.org/1998/Math/MathML"><mi>F</mi><mi>l</mi><mi>u</mi><msub><mi>x</mi><mrow class="MJX-TeXAtom-ORD"><mi>i</mi><mi>A</mi></mrow></msub><mo stretchy="false">(</mo><mi>i</mi><mo stretchy="false">)</mo><mo>=</mo><mi>f</mi><mi>l</mi><mi>u</mi><mi>x</mi><mo stretchy="false">(</mo><mi>F</mi><mi>i</mi><mi>A</mi><mo>,</mo><msup><mi>A</mi><mi>n</mi></msup><mo stretchy="false">(</mo><mi>i</mi><mo stretchy="false">)</mo><mo stretchy="false">)</mo></math></span></span><script type="math/tex" id="MathJax-Element-1">Flux_{iA}(i) = flux(FiA, A^n(i))</script></span>
 and <span class="math"><span class="MathJax_Preview" style="color: inherit;"></span><span class="MathJax" id="MathJax-Element-2-Frame" tabindex="0" data-mathml="<math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;><mi>F</mi><mi>l</mi><mi>u</mi><msub><mi>x</mi><mrow class=&quot;MJX-TeXAtom-ORD&quot;><mi>i</mi><mi>B</mi></mrow></msub><mo stretchy=&quot;false&quot;>(</mo><mi>i</mi><mo stretchy=&quot;false&quot;>)</mo><mo>=</mo><mi>f</mi><mi>l</mi><mi>u</mi><mi>x</mi><mo stretchy=&quot;false&quot;>(</mo><mi>F</mi><mi>i</mi><mi>B</mi><mo>,</mo><msup><mi>B</mi><mi>n</mi></msup><mo stretchy=&quot;false&quot;>(</mo><mi>i</mi><mo stretchy=&quot;false&quot;>)</mo><mo stretchy=&quot;false&quot;>)</mo></math>" role="presentation" style="position: relative;"><nobr aria-hidden="true"><span class="math" id="MathJax-Span-32" role="math" style="width: 14.721em; display: inline-block;"><span style="display: inline-block; position: relative; width: 11.15em; height: 0px; font-size: 132%;"><span style="position: absolute; clip: rect(1.572em 1011.1em 2.817em -999.997em); top: -2.432em; left: 0.003em;"><span class="mrow" id="MathJax-Span-33"><span class="mi" id="MathJax-Span-34" style="font-family: STIXGeneral; font-style: italic;">F<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.057em;"></span></span><span class="mi" id="MathJax-Span-35" style="font-family: STIXGeneral; font-style: italic;">l<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mi" id="MathJax-Span-36" style="font-family: STIXGeneral; font-style: italic;">u</span><span class="msubsup" id="MathJax-Span-37"><span style="display: inline-block; position: relative; width: 1.139em; height: 0px;"><span style="position: absolute; clip: rect(3.412em 1000.44em 4.169em -999.997em); top: -4.002em; left: 0.003em;"><span class="mi" id="MathJax-Span-38" style="font-family: STIXGeneral; font-style: italic;">x<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span><span style="position: absolute; top: -3.839em; left: 0.436em;"><span class="texatom" id="MathJax-Span-39"><span class="mrow" id="MathJax-Span-40"><span class="mi" id="MathJax-Span-41" style="font-size: 70.7%; font-family: STIXGeneral; font-style: italic;">i</span><span class="mi" id="MathJax-Span-42" style="font-size: 70.7%; font-family: STIXGeneral; font-style: italic;">B</span></span></span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span></span></span><span class="mo" id="MathJax-Span-43" style="font-family: STIXGeneral;">(</span><span class="mi" id="MathJax-Span-44" style="font-family: STIXGeneral; font-style: italic;">i</span><span class="mo" id="MathJax-Span-45" style="font-family: STIXGeneral;">)</span><span class="mo" id="MathJax-Span-46" style="font-family: STIXGeneral; padding-left: 0.327em;">=</span><span class="mi" id="MathJax-Span-47" style="font-family: STIXGeneral; font-style: italic; padding-left: 0.327em;">f<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.165em;"></span></span><span class="mi" id="MathJax-Span-48" style="font-family: STIXGeneral; font-style: italic;">l<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mi" id="MathJax-Span-49" style="font-family: STIXGeneral; font-style: italic;">u</span><span class="mi" id="MathJax-Span-50" style="font-family: STIXGeneral; font-style: italic;">x<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mo" id="MathJax-Span-51" style="font-family: STIXGeneral;">(</span><span class="mi" id="MathJax-Span-52" style="font-family: STIXGeneral; font-style: italic;">F<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.057em;"></span></span><span class="mi" id="MathJax-Span-53" style="font-family: STIXGeneral; font-style: italic;">i</span><span class="mi" id="MathJax-Span-54" style="font-family: STIXGeneral; font-style: italic;">B</span><span class="mo" id="MathJax-Span-55" style="font-family: STIXGeneral;">,</span><span class="msubsup" id="MathJax-Span-56" style="padding-left: 0.165em;"><span style="display: inline-block; position: relative; width: 1.031em; height: 0px;"><span style="position: absolute; clip: rect(3.195em 1000.6em 4.169em -999.997em); top: -4.002em; left: 0.003em;"><span class="mi" id="MathJax-Span-57" style="font-family: STIXGeneral; font-style: italic;">B</span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span><span style="position: absolute; top: -4.38em; left: 0.598em;"><span class="mi" id="MathJax-Span-58" style="font-size: 70.7%; font-family: STIXGeneral; font-style: italic;">n</span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span></span></span><span class="mo" id="MathJax-Span-59" style="font-family: STIXGeneral;">(</span><span class="mi" id="MathJax-Span-60" style="font-family: STIXGeneral; font-style: italic;">i</span><span class="mo" id="MathJax-Span-61" style="font-family: STIXGeneral;">)</span><span class="mo" id="MathJax-Span-62" style="font-family: STIXGeneral;">)</span></span><span style="display: inline-block; width: 0px; height: 2.438em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.354em; border-left-width: 0px; border-left-style: solid; width: 0px; height: 1.289em;"></span></span></nobr><span class="MJX_Assistive_MathML" role="presentation"><math xmlns="http://www.w3.org/1998/Math/MathML"><mi>F</mi><mi>l</mi><mi>u</mi><msub><mi>x</mi><mrow class="MJX-TeXAtom-ORD"><mi>i</mi><mi>B</mi></mrow></msub><mo stretchy="false">(</mo><mi>i</mi><mo stretchy="false">)</mo><mo>=</mo><mi>f</mi><mi>l</mi><mi>u</mi><mi>x</mi><mo stretchy="false">(</mo><mi>F</mi><mi>i</mi><mi>B</mi><mo>,</mo><msup><mi>B</mi><mi>n</mi></msup><mo stretchy="false">(</mo><mi>i</mi><mo stretchy="false">)</mo><mo stretchy="false">)</mo></math></span></span><script type="math/tex" id="MathJax-Element-2">Flux_{iB}(i) = flux(FiB, B^n(i))</script></span>
</p>
<hr class="docutils">
</div>
</div>
