<div class="section" id="rst-header-id18">
<span id="rst-header-flux"></span><h2>flux</h2>
<p>This instruction is used to call the flux functions from the PDEs.</p>
<div class="section" id="rst-header-id19">
<h3>Scope</h3>
<p>Discretization schema (Inside <em>math</em> tags).</p>
</div>
<div class="section" id="rst-header-infix">
<h3>Infix</h3>
<p>$flx</p>
</div>
<div class="section" id="rst-header-id20">
<h3>Usage</h3>
<p>Fluxes are one of the components in which Simflowny decompose PDEs.
When discretizing a problem, at a certain point, one want to get the flux information from the equations. For instance, to calculate centered differences one get the flux of the previous cell and subtract it to the flux of the next cell. In order to allow this calculations, the fluxes should be called within mathematical expressions.</p>
<p>Furthermore, fluxes can be expressions with different degrees of complexity. So, it is simpler to treat the fluxes as function calls. For instance:</p>
<div class="line-block">
<div class="line"><br></div>
</div>
<img alt="https://bitbucket.org/iac3/simflowny/wiki/images/UserGuide/simml/fluxes_example.png" src="https://bitbucket.org/iac3/simflowny/wiki/images/UserGuide/simml/fluxes_example.png">
<p>One may call to the Flux <span class="math"><span class="MathJax_Preview" style="color: inherit;"></span><span class="MathJax" id="MathJax-Element-1-Frame" tabindex="0" data-mathml="<math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;><msub><mi>F</mi><mi>x</mi></msub></math>" role="presentation" style="position: relative;"><nobr aria-hidden="true"><span class="math" id="MathJax-Span-1" role="math" style="width: 1.464em; display: inline-block;"><span style="display: inline-block; position: relative; width: 1.085em; height: 0px; font-size: 132%;"><span style="position: absolute; clip: rect(1.356em 1001.09em 2.492em -999.997em); top: -2.162em; left: 0.003em;"><span class="mrow" id="MathJax-Span-2"><span class="msubsup" id="MathJax-Span-3"><span style="display: inline-block; position: relative; width: 1.031em; height: 0px;"><span style="position: absolute; clip: rect(3.195em 1000.65em 4.169em -999.997em); top: -4.002em; left: 0.003em;"><span class="mi" id="MathJax-Span-4" style="font-family: STIXGeneral; font-style: italic;">F<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.057em;"></span></span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span><span style="position: absolute; top: -3.839em; left: 0.598em;"><span class="mi" id="MathJax-Span-5" style="font-size: 70.7%; font-family: STIXGeneral; font-style: italic;">x<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span></span></span></span><span style="display: inline-block; width: 0px; height: 2.167em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.282em; border-left-width: 0px; border-left-style: solid; width: 0px; height: 1.218em;"></span></span></nobr><span class="MJX_Assistive_MathML" role="presentation"><math xmlns="http://www.w3.org/1998/Math/MathML"><msub><mi>F</mi><mi>x</mi></msub></math></span></span><script type="math/tex" id="MathJax-Element-1">F_x</script></span>
, which uses the fields <em>P</em>, <em>mx</em>, <em>my</em> and <em>ρ</em>, but instead of using the fields directly, using a derivated fields <em>P'</em>, <em>mx'</em>, <em>my'</em> and <em>ρ'</em>. When writing a discretization schema, the writer does not know the quantity of fields needed by the flux, so instead of passing all of them as the arguments of the call, a base variable is used. Following the example,</p>
<div class="line-block">
<div class="line"><br></div>
</div>
<img alt="https://bitbucket.org/iac3/simflowny/wiki/images/UserGuide/simml/flux_prime.png" src="https://bitbucket.org/iac3/simflowny/wiki/images/UserGuide/simml/flux_prime.png">
<p>Where <em>u</em> is a wildcard for any field.</p>
<p>As a consequence, the usage within a mathematical expression is like <code>$flx(F$i$f, variable)</code>, where <em>variable</em> can be any variable and <em>F$i$f</em> is the way Simflowny identifies the flux function name.</p>
</div>
<div class="section" id="rst-header-id21">
<h3>Example</h3>
<div class="line-block">
<div class="line"><br></div>
</div>
<img alt="https://bitbucket.org/iac3/simflowny/wiki/images/UserGuide/simml/fluxes.png" src="https://bitbucket.org/iac3/simflowny/wiki/images/UserGuide/simml/fluxes.png">
<p><code>Flux_$i$f($cc)</code> represents a group of variables called Flux with subindices representing all the combinations of spatial coordinates and fields. The $cc meaning <em>currentCell</em> indicates that the variable is asigned in the current cell. For instance,  it could represents <span class="math"><span class="MathJax_Preview" style="color: inherit;"></span><span class="MathJax" id="MathJax-Element-2-Frame" tabindex="0" data-mathml="<math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;><mi>F</mi><mi>l</mi><mi>u</mi><msub><mi>x</mi><mi>x</mi></msub><mi>&amp;#x03C1;</mi><mo stretchy=&quot;false&quot;>(</mo><mi>i</mi><mo>,</mo><mi>j</mi><mo stretchy=&quot;false&quot;>)</mo></math>" role="presentation" style="position: relative;"><nobr aria-hidden="true"><span class="math" id="MathJax-Span-6" role="math" style="width: 5.901em; display: inline-block;"><span style="display: inline-block; position: relative; width: 4.44em; height: 0px; font-size: 132%;"><span style="position: absolute; clip: rect(1.572em 1004.39em 2.817em -999.997em); top: -2.432em; left: 0.003em;"><span class="mrow" id="MathJax-Span-7"><span class="mi" id="MathJax-Span-8" style="font-family: STIXGeneral; font-style: italic;">F<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.057em;"></span></span><span class="mi" id="MathJax-Span-9" style="font-family: STIXGeneral; font-style: italic;">l<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mi" id="MathJax-Span-10" style="font-family: STIXGeneral; font-style: italic;">u</span><span class="msubsup" id="MathJax-Span-11"><span style="display: inline-block; position: relative; width: 0.814em; height: 0px;"><span style="position: absolute; clip: rect(3.412em 1000.44em 4.169em -999.997em); top: -4.002em; left: 0.003em;"><span class="mi" id="MathJax-Span-12" style="font-family: STIXGeneral; font-style: italic;">x<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span><span style="position: absolute; top: -3.839em; left: 0.436em;"><span class="mi" id="MathJax-Span-13" style="font-size: 70.7%; font-family: STIXGeneral; font-style: italic;">x<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span></span></span><span class="mi" id="MathJax-Span-14" style="font-family: STIXGeneral; font-style: italic;">ρ</span><span class="mo" id="MathJax-Span-15" style="font-family: STIXGeneral;">(</span><span class="mi" id="MathJax-Span-16" style="font-family: STIXGeneral; font-style: italic;">i</span><span class="mo" id="MathJax-Span-17" style="font-family: STIXGeneral;">,</span><span class="mi" id="MathJax-Span-18" style="font-family: STIXGeneral; font-style: italic; padding-left: 0.165em;">j<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mo" id="MathJax-Span-19" style="font-family: STIXGeneral;">)</span></span><span style="display: inline-block; width: 0px; height: 2.438em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.354em; border-left-width: 0px; border-left-style: solid; width: 0px; height: 1.289em;"></span></span></nobr><span class="MJX_Assistive_MathML" role="presentation"><math xmlns="http://www.w3.org/1998/Math/MathML"><mi>F</mi><mi>l</mi><mi>u</mi><msub><mi>x</mi><mi>x</mi></msub><mi>ρ</mi><mo stretchy="false">(</mo><mi>i</mi><mo>,</mo><mi>j</mi><mo stretchy="false">)</mo></math></span></span><script type="math/tex" id="MathJax-Element-2">Flux_x\rho (i,j)</script></span>
.</p>
<p>The left hand side of the equation represents a flux call (<code>$flx(...)</code>). The first parameter is the flux function name. The second one is the a variable to use inside the flux to represent the fields. For instance,  it could represents <span class="math"><span class="MathJax_Preview" style="color: inherit;"></span><span class="MathJax" id="MathJax-Element-3-Frame" tabindex="0" data-mathml="<math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;><msub><mi>&amp;#x03C1;</mi><mi>e</mi></msub><mi>p</mi><mi>s</mi><mo stretchy=&quot;false&quot;>(</mo><mi>i</mi><mo>,</mo><mi>j</mi><mo stretchy=&quot;false&quot;>)</mo></math>" role="presentation" style="position: relative;"><nobr aria-hidden="true"><span class="math" id="MathJax-Span-20" role="math" style="width: 4.602em; display: inline-block;"><span style="display: inline-block; position: relative; width: 3.466em; height: 0px; font-size: 132%;"><span style="position: absolute; clip: rect(1.626em 1003.41em 2.817em -999.997em); top: -2.432em; left: 0.003em;"><span class="mrow" id="MathJax-Span-21"><span class="msubsup" id="MathJax-Span-22"><span style="display: inline-block; position: relative; width: 0.923em; height: 0px;"><span style="position: absolute; clip: rect(3.412em 1000.49em 4.386em -999.997em); top: -4.002em; left: 0.003em;"><span class="mi" id="MathJax-Span-23" style="font-family: STIXGeneral; font-style: italic;">ρ</span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span><span style="position: absolute; top: -3.839em; left: 0.49em;"><span class="mi" id="MathJax-Span-24" style="font-size: 70.7%; font-family: STIXGeneral; font-style: italic;">e</span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span></span></span><span class="mi" id="MathJax-Span-25" style="font-family: STIXGeneral; font-style: italic;">p</span><span class="mi" id="MathJax-Span-26" style="font-family: STIXGeneral; font-style: italic;">s</span><span class="mo" id="MathJax-Span-27" style="font-family: STIXGeneral;">(</span><span class="mi" id="MathJax-Span-28" style="font-family: STIXGeneral; font-style: italic;">i</span><span class="mo" id="MathJax-Span-29" style="font-family: STIXGeneral;">,</span><span class="mi" id="MathJax-Span-30" style="font-family: STIXGeneral; font-style: italic; padding-left: 0.165em;">j<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mo" id="MathJax-Span-31" style="font-family: STIXGeneral;">)</span></span><span style="display: inline-block; width: 0px; height: 2.438em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.354em; border-left-width: 0px; border-left-style: solid; width: 0px; height: 1.289em;"></span></span></nobr><span class="MJX_Assistive_MathML" role="presentation"><math xmlns="http://www.w3.org/1998/Math/MathML"><msub><mi>ρ</mi><mi>e</mi></msub><mi>p</mi><mi>s</mi><mo stretchy="false">(</mo><mi>i</mi><mo>,</mo><mi>j</mi><mo stretchy="false">)</mo></math></span></span><script type="math/tex" id="MathJax-Element-3">\rho _eps(i,j)</script></span>
.</p>
<hr class="docutils">
</div>
</div>
