<div class="section" id="rst-header-id22">
<span id="rst-header-spatialcoordinate"></span><h2>spatialCoordinate</h2>
<p>Represents the discrete spatial coordinate.</p>
<div class="section" id="rst-header-id23">
<h3>Scope</h3>
<p>Discretization schema (Inside <em>math</em> tags).</p>
</div>
<div class="section" id="rst-header-id24">
<h3>Infix</h3>
<p>$i</p>
</div>
<div class="section" id="rst-header-id25">
<h3>Usage</h3>
<p>No special usage.</p>
</div>
<div class="section" id="rst-header-id26">
<h3>Example</h3>
<div class="line-block">
<div class="line"><br></div>
</div>
<img alt="https://bitbucket.org/iac3/simflowny/wiki/images/UserGuide/simml/spatialCoordinate.png" src="https://bitbucket.org/iac3/simflowny/wiki/images/UserGuide/simml/spatialCoordinate.png">
<p>It there were three discrete spatial coordinates <em>i</em>, <em>j</em> and <em>k</em>, the equations would be <span class="math"><span class="MathJax_Preview" style="color: inherit;"></span><span class="MathJax" id="MathJax-Element-8-Frame" tabindex="0" data-mathml="<math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;><mi>S</mi><mi>p</mi><mi>e</mi><mi>e</mi><mi>d</mi><mi>i</mi><mo stretchy=&quot;false&quot;>(</mo><mi>i</mi><mo>,</mo><mi>j</mi><mo>,</mo><mi>k</mi><mo stretchy=&quot;false&quot;>)</mo><mo>=</mo><mo>.</mo><mo>.</mo><mo>.</mo></math>" role="presentation" style="position: relative;"><nobr aria-hidden="true"><span class="math" id="MathJax-Span-163" role="math" style="width: 9.581em; display: inline-block;"><span style="display: inline-block; position: relative; width: 7.254em; height: 0px; font-size: 132%;"><span style="position: absolute; clip: rect(1.572em 1007.2em 2.817em -999.997em); top: -2.432em; left: 0.003em;"><span class="mrow" id="MathJax-Span-164"><span class="mi" id="MathJax-Span-165" style="font-family: STIXGeneral; font-style: italic;">S<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mi" id="MathJax-Span-166" style="font-family: STIXGeneral; font-style: italic;">p</span><span class="mi" id="MathJax-Span-167" style="font-family: STIXGeneral; font-style: italic;">e</span><span class="mi" id="MathJax-Span-168" style="font-family: STIXGeneral; font-style: italic;">e</span><span class="mi" id="MathJax-Span-169" style="font-family: STIXGeneral; font-style: italic;">d<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mi" id="MathJax-Span-170" style="font-family: STIXGeneral; font-style: italic;">i</span><span class="mo" id="MathJax-Span-171" style="font-family: STIXGeneral;">(</span><span class="mi" id="MathJax-Span-172" style="font-family: STIXGeneral; font-style: italic;">i</span><span class="mo" id="MathJax-Span-173" style="font-family: STIXGeneral;">,</span><span class="mi" id="MathJax-Span-174" style="font-family: STIXGeneral; font-style: italic; padding-left: 0.165em;">j<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mo" id="MathJax-Span-175" style="font-family: STIXGeneral;">,</span><span class="mi" id="MathJax-Span-176" style="font-family: STIXGeneral; font-style: italic; padding-left: 0.165em;">k<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mo" id="MathJax-Span-177" style="font-family: STIXGeneral;">)</span><span class="mo" id="MathJax-Span-178" style="font-family: STIXGeneral; padding-left: 0.327em;">=</span><span class="mo" id="MathJax-Span-179" style="font-family: STIXGeneral;">.</span><span class="mo" id="MathJax-Span-180" style="font-family: STIXGeneral; padding-left: 0.165em;">.</span><span class="mo" id="MathJax-Span-181" style="font-family: STIXGeneral; padding-left: 0.165em;">.</span></span><span style="display: inline-block; width: 0px; height: 2.438em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.354em; border-left-width: 0px; border-left-style: solid; width: 0px; height: 1.289em;"></span></span></nobr><span class="MJX_Assistive_MathML" role="presentation"><math xmlns="http://www.w3.org/1998/Math/MathML"><mi>S</mi><mi>p</mi><mi>e</mi><mi>e</mi><mi>d</mi><mi>i</mi><mo stretchy="false">(</mo><mi>i</mi><mo>,</mo><mi>j</mi><mo>,</mo><mi>k</mi><mo stretchy="false">)</mo><mo>=</mo><mo>.</mo><mo>.</mo><mo>.</mo></math></span></span><script type="math/tex" id="MathJax-Element-8">Speedi(i,j,k) = ...</script></span>
, <span class="math"><span class="MathJax_Preview" style="color: inherit;"></span><span class="MathJax" id="MathJax-Element-9-Frame" tabindex="0" data-mathml="<math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;><mi>S</mi><mi>p</mi><mi>e</mi><mi>e</mi><mi>d</mi><mi>j</mi><mo stretchy=&quot;false&quot;>(</mo><mi>i</mi><mo>,</mo><mi>j</mi><mo>,</mo><mi>k</mi><mo stretchy=&quot;false&quot;>)</mo><mo>=</mo><mo>.</mo><mo>.</mo><mo>.</mo></math>" role="presentation" style="position: relative;"><nobr aria-hidden="true"><span class="math" id="MathJax-Span-182" role="math" style="width: 9.581em; display: inline-block;"><span style="display: inline-block; position: relative; width: 7.254em; height: 0px; font-size: 132%;"><span style="position: absolute; clip: rect(1.572em 1007.2em 2.817em -999.997em); top: -2.432em; left: 0.003em;"><span class="mrow" id="MathJax-Span-183"><span class="mi" id="MathJax-Span-184" style="font-family: STIXGeneral; font-style: italic;">S<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mi" id="MathJax-Span-185" style="font-family: STIXGeneral; font-style: italic;">p</span><span class="mi" id="MathJax-Span-186" style="font-family: STIXGeneral; font-style: italic;">e</span><span class="mi" id="MathJax-Span-187" style="font-family: STIXGeneral; font-style: italic;">e</span><span class="mi" id="MathJax-Span-188" style="font-family: STIXGeneral; font-style: italic;">d<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mi" id="MathJax-Span-189" style="font-family: STIXGeneral; font-style: italic;">j<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mo" id="MathJax-Span-190" style="font-family: STIXGeneral;">(</span><span class="mi" id="MathJax-Span-191" style="font-family: STIXGeneral; font-style: italic;">i</span><span class="mo" id="MathJax-Span-192" style="font-family: STIXGeneral;">,</span><span class="mi" id="MathJax-Span-193" style="font-family: STIXGeneral; font-style: italic; padding-left: 0.165em;">j<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mo" id="MathJax-Span-194" style="font-family: STIXGeneral;">,</span><span class="mi" id="MathJax-Span-195" style="font-family: STIXGeneral; font-style: italic; padding-left: 0.165em;">k<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mo" id="MathJax-Span-196" style="font-family: STIXGeneral;">)</span><span class="mo" id="MathJax-Span-197" style="font-family: STIXGeneral; padding-left: 0.327em;">=</span><span class="mo" id="MathJax-Span-198" style="font-family: STIXGeneral;">.</span><span class="mo" id="MathJax-Span-199" style="font-family: STIXGeneral; padding-left: 0.165em;">.</span><span class="mo" id="MathJax-Span-200" style="font-family: STIXGeneral; padding-left: 0.165em;">.</span></span><span style="display: inline-block; width: 0px; height: 2.438em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.354em; border-left-width: 0px; border-left-style: solid; width: 0px; height: 1.289em;"></span></span></nobr><span class="MJX_Assistive_MathML" role="presentation"><math xmlns="http://www.w3.org/1998/Math/MathML"><mi>S</mi><mi>p</mi><mi>e</mi><mi>e</mi><mi>d</mi><mi>j</mi><mo stretchy="false">(</mo><mi>i</mi><mo>,</mo><mi>j</mi><mo>,</mo><mi>k</mi><mo stretchy="false">)</mo><mo>=</mo><mo>.</mo><mo>.</mo><mo>.</mo></math></span></span><script type="math/tex" id="MathJax-Element-9">Speedj(i,j,k) = ...</script></span>
 and <span class="math"><span class="MathJax_Preview" style="color: inherit;"></span><span class="MathJax" id="MathJax-Element-10-Frame" tabindex="0" data-mathml="<math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;><mi>S</mi><mi>p</mi><mi>e</mi><mi>e</mi><mi>d</mi><mi>k</mi><mo stretchy=&quot;false&quot;>(</mo><mi>i</mi><mo>,</mo><mi>j</mi><mo>,</mo><mi>k</mi><mo stretchy=&quot;false&quot;>)</mo><mo>=</mo><mo>.</mo><mo>.</mo><mo>.</mo></math>" role="presentation" style="position: relative;"><nobr aria-hidden="true"><span class="math" id="MathJax-Span-201" role="math" style="width: 9.797em; display: inline-block;"><span style="display: inline-block; position: relative; width: 7.416em; height: 0px; font-size: 132%;"><span style="position: absolute; clip: rect(1.572em 1007.36em 2.817em -999.997em); top: -2.432em; left: 0.003em;"><span class="mrow" id="MathJax-Span-202"><span class="mi" id="MathJax-Span-203" style="font-family: STIXGeneral; font-style: italic;">S<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mi" id="MathJax-Span-204" style="font-family: STIXGeneral; font-style: italic;">p</span><span class="mi" id="MathJax-Span-205" style="font-family: STIXGeneral; font-style: italic;">e</span><span class="mi" id="MathJax-Span-206" style="font-family: STIXGeneral; font-style: italic;">e</span><span class="mi" id="MathJax-Span-207" style="font-family: STIXGeneral; font-style: italic;">d<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mi" id="MathJax-Span-208" style="font-family: STIXGeneral; font-style: italic;">k<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mo" id="MathJax-Span-209" style="font-family: STIXGeneral;">(</span><span class="mi" id="MathJax-Span-210" style="font-family: STIXGeneral; font-style: italic;">i</span><span class="mo" id="MathJax-Span-211" style="font-family: STIXGeneral;">,</span><span class="mi" id="MathJax-Span-212" style="font-family: STIXGeneral; font-style: italic; padding-left: 0.165em;">j<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mo" id="MathJax-Span-213" style="font-family: STIXGeneral;">,</span><span class="mi" id="MathJax-Span-214" style="font-family: STIXGeneral; font-style: italic; padding-left: 0.165em;">k<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mo" id="MathJax-Span-215" style="font-family: STIXGeneral;">)</span><span class="mo" id="MathJax-Span-216" style="font-family: STIXGeneral; padding-left: 0.327em;">=</span><span class="mo" id="MathJax-Span-217" style="font-family: STIXGeneral;">.</span><span class="mo" id="MathJax-Span-218" style="font-family: STIXGeneral; padding-left: 0.165em;">.</span><span class="mo" id="MathJax-Span-219" style="font-family: STIXGeneral; padding-left: 0.165em;">.</span></span><span style="display: inline-block; width: 0px; height: 2.438em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.354em; border-left-width: 0px; border-left-style: solid; width: 0px; height: 1.289em;"></span></span></nobr><span class="MJX_Assistive_MathML" role="presentation"><math xmlns="http://www.w3.org/1998/Math/MathML"><mi>S</mi><mi>p</mi><mi>e</mi><mi>e</mi><mi>d</mi><mi>k</mi><mo stretchy="false">(</mo><mi>i</mi><mo>,</mo><mi>j</mi><mo>,</mo><mi>k</mi><mo stretchy="false">)</mo><mo>=</mo><mo>.</mo><mo>.</mo><mo>.</mo></math></span></span><script type="math/tex" id="MathJax-Element-10">Speedk(i,j,k) = ...</script></span>
.</p>
<hr class="docutils">
</div>
</div>
