<div class="section" id="rst-header-id27">
<span id="rst-header-secondspatialcoordinate"></span><h2>secondSpatialCoordinate</h2>
<p>Represents the second spatial coordinate in a <em>parabolicTermsContext</em> mathematical expression.</p>
<div class="section" id="rst-header-id28">
<h3>Scope</h3>
<p>Discretization schema (Inside <em>math</em> tags and only in a <em>parabolicTermsContext</em>).</p>
</div>
<div class="section" id="rst-header-id29">
<h3>Infix</h3>
<p>$i2</p>
</div>
<div class="section" id="rst-header-id30">
<h3>Usage</h3>
<p>No special usage.</p>
</div>
<div class="section" id="rst-header-id31">
<h3>Example</h3>
<div class="line-block">
<div class="line"><br></div>
</div>
<img alt="https://bitbucket.org/iac3/simflowny/wiki/images/UserGuide/simml/secondSpatialCoordinate.png" src="https://bitbucket.org/iac3/simflowny/wiki/images/UserGuide/simml/secondSpatialCoordinate.png">
<p>Imagine the field <em>φ</em> has two parabolic terms for <em>xx</em> and one for <em>xy</em>. The functions called by <em>$fc</em> tag will be <span class="math"><span class="MathJax_Preview" style="color: inherit;"></span><span class="MathJax" id="MathJax-Element-11-Frame" tabindex="0" data-mathml="<math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;><mi>c</mi><mi>d</mi><mi>p</mi><mi>t</mi><mi>i</mi><mi>i</mi></math>" role="presentation" style="position: relative;"><nobr aria-hidden="true"><span class="math" id="MathJax-Span-220" role="math" style="width: 3.087em; display: inline-block;"><span style="display: inline-block; position: relative; width: 2.33em; height: 0px; font-size: 132%;"><span style="position: absolute; clip: rect(1.572em 1002.33em 2.817em -999.997em); top: -2.432em; left: 0.003em;"><span class="mrow" id="MathJax-Span-221"><span class="mi" id="MathJax-Span-222" style="font-family: STIXGeneral; font-style: italic;">c</span><span class="mi" id="MathJax-Span-223" style="font-family: STIXGeneral; font-style: italic;">d<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mi" id="MathJax-Span-224" style="font-family: STIXGeneral; font-style: italic;">p</span><span class="mi" id="MathJax-Span-225" style="font-family: STIXGeneral; font-style: italic;">t<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mi" id="MathJax-Span-226" style="font-family: STIXGeneral; font-style: italic;">i</span><span class="mi" id="MathJax-Span-227" style="font-family: STIXGeneral; font-style: italic;">i</span></span><span style="display: inline-block; width: 0px; height: 2.438em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.354em; border-left-width: 0px; border-left-style: solid; width: 0px; height: 1.289em;"></span></span></nobr><span class="MJX_Assistive_MathML" role="presentation"><math xmlns="http://www.w3.org/1998/Math/MathML"><mi>c</mi><mi>d</mi><mi>p</mi><mi>t</mi><mi>i</mi><mi>i</mi></math></span></span><script type="math/tex" id="MathJax-Element-11">cdptii</script></span>
 and <span class="math"><span class="MathJax_Preview" style="color: inherit;"></span><span class="MathJax" id="MathJax-Element-12-Frame" tabindex="0" data-mathml="<math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;><mi>c</mi><mi>d</mi><mi>p</mi><mi>t</mi><mi>i</mi><mi>j</mi></math>" role="presentation" style="position: relative;"><nobr aria-hidden="true"><span class="math" id="MathJax-Span-228" role="math" style="width: 3.087em; display: inline-block;"><span style="display: inline-block; position: relative; width: 2.33em; height: 0px; font-size: 132%;"><span style="position: absolute; clip: rect(1.572em 1002.33em 2.817em -999.997em); top: -2.432em; left: 0.003em;"><span class="mrow" id="MathJax-Span-229"><span class="mi" id="MathJax-Span-230" style="font-family: STIXGeneral; font-style: italic;">c</span><span class="mi" id="MathJax-Span-231" style="font-family: STIXGeneral; font-style: italic;">d<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mi" id="MathJax-Span-232" style="font-family: STIXGeneral; font-style: italic;">p</span><span class="mi" id="MathJax-Span-233" style="font-family: STIXGeneral; font-style: italic;">t<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mi" id="MathJax-Span-234" style="font-family: STIXGeneral; font-style: italic;">i</span><span class="mi" id="MathJax-Span-235" style="font-family: STIXGeneral; font-style: italic;">j<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span></span><span style="display: inline-block; width: 0px; height: 2.438em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.354em; border-left-width: 0px; border-left-style: solid; width: 0px; height: 1.289em;"></span></span></nobr><span class="MJX_Assistive_MathML" role="presentation"><math xmlns="http://www.w3.org/1998/Math/MathML"><mi>c</mi><mi>d</mi><mi>p</mi><mi>t</mi><mi>i</mi><mi>j</mi></math></span></span><script type="math/tex" id="MathJax-Element-12">cdptij</script></span>
.</p>
<hr class="docutils">
</div>
</div>
