<div class="section" id="rst-header-id141">
<span id="rst-header-incrementcoordinate1incrementcoordinate2-incrementcoordinate1decrementcoordinate2-decrementcoordinate1incrementcoordinate2-decrementcoordinate1decrementcoordinate2"></span><h2>incrementCoordinate1incrementCoordinate2 &amp; incrementCoordinate1decrementCoordinate2 &amp; decrementCoordinate1incrementCoordinate2 &amp; decrementCoordinate1decrementCoordinate2</h2>
<p>Tags used within a <em>parabolicTermsContext</em> tag inside a mathematical expression to access neighbour cells for the first and the second spatial coordinate at the same time.</p>
<div class="section" id="rst-header-id142">
<h3>Scope</h3>
<p>Discretization schema (Inside <em>math</em> tags). The <em>math</em> element including one of these tags must be within a <em>parabolicTermsContext</em> tag.</p>
</div>
<div class="section" id="rst-header-id143">
<h3>Infix</h3>
<p>$icic
$icdc
$dcic
$dcdc</p>
</div>
<div class="section" id="rst-header-id144">
<h3>Usage</h3>
<p>This tag requires the number of cells (for the first and second coordinate) to increment or decrement from the current cell.</p>
<p>The parameters have to be added as sufixes to the infix notation.</p>
<p>If the first and second coordinate are the same for the current parabilc term combination, the first one is applied and the second one ignored.</p>
</div>
<div class="section" id="rst-header-id145">
<h3>Example</h3>
<div class="line-block">
<div class="line"><br></div>
</div>
<img alt="https://bitbucket.org/iac3/simflowny/wiki/images/UserGuide/simml/icic.png" src="https://bitbucket.org/iac3/simflowny/wiki/images/UserGuide/simml/icic.png">
<p>In the previous example, imagine we have parabolic terms <span class="math"><span class="MathJax_Preview" style="color: inherit;"></span><span class="MathJax" id="MathJax-Element-28-Frame" tabindex="0" data-mathml="<math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;><msub><mi>P</mi><mrow class=&quot;MJX-TeXAtom-ORD&quot;><mi>x</mi><mi>x</mi></mrow></msub></math>" role="presentation" style="position: relative;"><nobr aria-hidden="true"><span class="math" id="MathJax-Span-313" role="math" style="width: 1.788em; display: inline-block;"><span style="display: inline-block; position: relative; width: 1.356em; height: 0px; font-size: 132%;"><span style="position: absolute; clip: rect(1.356em 1001.36em 2.492em -999.997em); top: -2.162em; left: 0.003em;"><span class="mrow" id="MathJax-Span-314"><span class="msubsup" id="MathJax-Span-315"><span style="display: inline-block; position: relative; width: 1.301em; height: 0px;"><span style="position: absolute; clip: rect(3.195em 1000.6em 4.169em -999.997em); top: -4.002em; left: 0.003em;"><span class="mi" id="MathJax-Span-316" style="font-family: STIXGeneral; font-style: italic;">P</span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span><span style="position: absolute; top: -3.839em; left: 0.598em;"><span class="texatom" id="MathJax-Span-317"><span class="mrow" id="MathJax-Span-318"><span class="mi" id="MathJax-Span-319" style="font-size: 70.7%; font-family: STIXGeneral; font-style: italic;">x<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mi" id="MathJax-Span-320" style="font-size: 70.7%; font-family: STIXGeneral; font-style: italic;">x<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span></span></span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span></span></span></span><span style="display: inline-block; width: 0px; height: 2.167em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.282em; border-left-width: 0px; border-left-style: solid; width: 0px; height: 1.218em;"></span></span></nobr><span class="MJX_Assistive_MathML" role="presentation"><math xmlns="http://www.w3.org/1998/Math/MathML"><msub><mi>P</mi><mrow class="MJX-TeXAtom-ORD"><mi>x</mi><mi>x</mi></mrow></msub></math></span></span><script type="math/tex" id="MathJax-Element-28">P_{xx}</script></span>
, <span class="math"><span class="MathJax_Preview" style="color: inherit;"></span><span class="MathJax" id="MathJax-Element-29-Frame" tabindex="0" data-mathml="<math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;><msub><mi>Q</mi><mrow class=&quot;MJX-TeXAtom-ORD&quot;><mi>x</mi><mi>x</mi></mrow></msub></math>" role="presentation" style="position: relative;"><nobr aria-hidden="true"><span class="math" id="MathJax-Span-321" role="math" style="width: 1.951em; display: inline-block;"><span style="display: inline-block; position: relative; width: 1.464em; height: 0px; font-size: 132%;"><span style="position: absolute; clip: rect(1.356em 1001.46em 2.492em -999.997em); top: -2.162em; left: 0.003em;"><span class="mrow" id="MathJax-Span-322"><span class="msubsup" id="MathJax-Span-323"><span style="display: inline-block; position: relative; width: 1.41em; height: 0px;"><span style="position: absolute; clip: rect(3.195em 1000.71em 4.332em -999.997em); top: -4.002em; left: 0.003em;"><span class="mi" id="MathJax-Span-324" style="font-family: STIXGeneral; font-style: italic;">Q</span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span><span style="position: absolute; top: -3.839em; left: 0.706em;"><span class="texatom" id="MathJax-Span-325"><span class="mrow" id="MathJax-Span-326"><span class="mi" id="MathJax-Span-327" style="font-size: 70.7%; font-family: STIXGeneral; font-style: italic;">x<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mi" id="MathJax-Span-328" style="font-size: 70.7%; font-family: STIXGeneral; font-style: italic;">x<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span></span></span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span></span></span></span><span style="display: inline-block; width: 0px; height: 2.167em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.282em; border-left-width: 0px; border-left-style: solid; width: 0px; height: 1.289em;"></span></span></nobr><span class="MJX_Assistive_MathML" role="presentation"><math xmlns="http://www.w3.org/1998/Math/MathML"><msub><mi>Q</mi><mrow class="MJX-TeXAtom-ORD"><mi>x</mi><mi>x</mi></mrow></msub></math></span></span><script type="math/tex" id="MathJax-Element-29">Q_{xx}</script></span>
, <span class="math"><span class="MathJax_Preview" style="color: inherit;"></span><span class="MathJax" id="MathJax-Element-30-Frame" tabindex="0" data-mathml="<math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;><msub><mi>P</mi><mrow class=&quot;MJX-TeXAtom-ORD&quot;><mi>x</mi><mi>y</mi></mrow></msub></math>" role="presentation" style="position: relative;"><nobr aria-hidden="true"><span class="math" id="MathJax-Span-329" role="math" style="width: 1.788em; display: inline-block;"><span style="display: inline-block; position: relative; width: 1.356em; height: 0px; font-size: 132%;"><span style="position: absolute; clip: rect(1.356em 1001.36em 2.6em -999.997em); top: -2.162em; left: 0.003em;"><span class="mrow" id="MathJax-Span-330"><span class="msubsup" id="MathJax-Span-331"><span style="display: inline-block; position: relative; width: 1.301em; height: 0px;"><span style="position: absolute; clip: rect(3.195em 1000.6em 4.169em -999.997em); top: -4.002em; left: 0.003em;"><span class="mi" id="MathJax-Span-332" style="font-family: STIXGeneral; font-style: italic;">P</span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span><span style="position: absolute; top: -3.839em; left: 0.598em;"><span class="texatom" id="MathJax-Span-333"><span class="mrow" id="MathJax-Span-334"><span class="mi" id="MathJax-Span-335" style="font-size: 70.7%; font-family: STIXGeneral; font-style: italic;">x<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mi" id="MathJax-Span-336" style="font-size: 70.7%; font-family: STIXGeneral; font-style: italic;">y</span></span></span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span></span></span></span><span style="display: inline-block; width: 0px; height: 2.167em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.425em; border-left-width: 0px; border-left-style: solid; width: 0px; height: 1.432em;"></span></span></nobr><span class="MJX_Assistive_MathML" role="presentation"><math xmlns="http://www.w3.org/1998/Math/MathML"><msub><mi>P</mi><mrow class="MJX-TeXAtom-ORD"><mi>x</mi><mi>y</mi></mrow></msub></math></span></span><script type="math/tex" id="MathJax-Element-30">P_{xy}</script></span>
, <span class="math"><span class="MathJax_Preview" style="color: inherit;"></span><span class="MathJax" id="MathJax-Element-31-Frame" tabindex="0" data-mathml="<math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;><msub><mi>Q</mi><mrow class=&quot;MJX-TeXAtom-ORD&quot;><mi>x</mi><mi>y</mi></mrow></msub></math>" role="presentation" style="position: relative;"><nobr aria-hidden="true"><span class="math" id="MathJax-Span-337" role="math" style="width: 1.951em; display: inline-block;"><span style="display: inline-block; position: relative; width: 1.464em; height: 0px; font-size: 132%;"><span style="position: absolute; clip: rect(1.356em 1001.46em 2.6em -999.997em); top: -2.162em; left: 0.003em;"><span class="mrow" id="MathJax-Span-338"><span class="msubsup" id="MathJax-Span-339"><span style="display: inline-block; position: relative; width: 1.41em; height: 0px;"><span style="position: absolute; clip: rect(3.195em 1000.71em 4.332em -999.997em); top: -4.002em; left: 0.003em;"><span class="mi" id="MathJax-Span-340" style="font-family: STIXGeneral; font-style: italic;">Q</span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span><span style="position: absolute; top: -3.839em; left: 0.706em;"><span class="texatom" id="MathJax-Span-341"><span class="mrow" id="MathJax-Span-342"><span class="mi" id="MathJax-Span-343" style="font-size: 70.7%; font-family: STIXGeneral; font-style: italic;">x<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mi" id="MathJax-Span-344" style="font-size: 70.7%; font-family: STIXGeneral; font-style: italic;">y</span></span></span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span></span></span></span><span style="display: inline-block; width: 0px; height: 2.167em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.425em; border-left-width: 0px; border-left-style: solid; width: 0px; height: 1.432em;"></span></span></nobr><span class="MJX_Assistive_MathML" role="presentation"><math xmlns="http://www.w3.org/1998/Math/MathML"><msub><mi>Q</mi><mrow class="MJX-TeXAtom-ORD"><mi>x</mi><mi>y</mi></mrow></msub></math></span></span><script type="math/tex" id="MathJax-Element-31">Q_{xy}</script></span>
, <span class="math"><span class="MathJax_Preview" style="color: inherit;"></span><span class="MathJax" id="MathJax-Element-32-Frame" tabindex="0" data-mathml="<math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;><msub><mi>P</mi><mrow class=&quot;MJX-TeXAtom-ORD&quot;><mi>y</mi><mi>x</mi></mrow></msub></math>" role="presentation" style="position: relative;"><nobr aria-hidden="true"><span class="math" id="MathJax-Span-345" role="math" style="width: 1.788em; display: inline-block;"><span style="display: inline-block; position: relative; width: 1.356em; height: 0px; font-size: 132%;"><span style="position: absolute; clip: rect(1.356em 1001.36em 2.6em -999.997em); top: -2.162em; left: 0.003em;"><span class="mrow" id="MathJax-Span-346"><span class="msubsup" id="MathJax-Span-347"><span style="display: inline-block; position: relative; width: 1.301em; height: 0px;"><span style="position: absolute; clip: rect(3.195em 1000.6em 4.169em -999.997em); top: -4.002em; left: 0.003em;"><span class="mi" id="MathJax-Span-348" style="font-family: STIXGeneral; font-style: italic;">P</span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span><span style="position: absolute; top: -3.839em; left: 0.598em;"><span class="texatom" id="MathJax-Span-349"><span class="mrow" id="MathJax-Span-350"><span class="mi" id="MathJax-Span-351" style="font-size: 70.7%; font-family: STIXGeneral; font-style: italic;">y</span><span class="mi" id="MathJax-Span-352" style="font-size: 70.7%; font-family: STIXGeneral; font-style: italic;">x<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span></span></span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span></span></span></span><span style="display: inline-block; width: 0px; height: 2.167em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.425em; border-left-width: 0px; border-left-style: solid; width: 0px; height: 1.432em;"></span></span></nobr><span class="MJX_Assistive_MathML" role="presentation"><math xmlns="http://www.w3.org/1998/Math/MathML"><msub><mi>P</mi><mrow class="MJX-TeXAtom-ORD"><mi>y</mi><mi>x</mi></mrow></msub></math></span></span><script type="math/tex" id="MathJax-Element-32">P_{yx}</script></span>
 and <span class="math"><span class="MathJax_Preview" style="color: inherit;"></span><span class="MathJax" id="MathJax-Element-33-Frame" tabindex="0" data-mathml="<math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;><msub><mi>Q</mi><mrow class=&quot;MJX-TeXAtom-ORD&quot;><mi>y</mi><mi>x</mi></mrow></msub></math>" role="presentation" style="position: relative;"><nobr aria-hidden="true"><span class="math" id="MathJax-Span-353" role="math" style="width: 1.951em; display: inline-block;"><span style="display: inline-block; position: relative; width: 1.464em; height: 0px; font-size: 132%;"><span style="position: absolute; clip: rect(1.356em 1001.46em 2.6em -999.997em); top: -2.162em; left: 0.003em;"><span class="mrow" id="MathJax-Span-354"><span class="msubsup" id="MathJax-Span-355"><span style="display: inline-block; position: relative; width: 1.41em; height: 0px;"><span style="position: absolute; clip: rect(3.195em 1000.71em 4.332em -999.997em); top: -4.002em; left: 0.003em;"><span class="mi" id="MathJax-Span-356" style="font-family: STIXGeneral; font-style: italic;">Q</span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span><span style="position: absolute; top: -3.839em; left: 0.706em;"><span class="texatom" id="MathJax-Span-357"><span class="mrow" id="MathJax-Span-358"><span class="mi" id="MathJax-Span-359" style="font-size: 70.7%; font-family: STIXGeneral; font-style: italic;">y</span><span class="mi" id="MathJax-Span-360" style="font-size: 70.7%; font-family: STIXGeneral; font-style: italic;">x<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span></span></span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span></span></span></span><span style="display: inline-block; width: 0px; height: 2.167em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.425em; border-left-width: 0px; border-left-style: solid; width: 0px; height: 1.432em;"></span></span></nobr><span class="MJX_Assistive_MathML" role="presentation"><math xmlns="http://www.w3.org/1998/Math/MathML"><msub><mi>Q</mi><mrow class="MJX-TeXAtom-ORD"><mi>y</mi><mi>x</mi></mrow></msub></math></span></span><script type="math/tex" id="MathJax-Element-33">Q_{yx}</script></span>
. Then, the code would generate <span class="math"><span class="MathJax_Preview" style="color: inherit;"></span><span class="MathJax" id="MathJax-Element-34-Frame" tabindex="0" data-mathml="<math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;><mi>a</mi><mo>=</mo><mi>p</mi><mo stretchy=&quot;false&quot;>(</mo><mi>i</mi><mo>+</mo><mn>3</mn><mo>,</mo><mi>j</mi><mo stretchy=&quot;false&quot;>)</mo></math>" role="presentation" style="position: relative;"><nobr aria-hidden="true"><span class="math" id="MathJax-Span-361" role="math" style="width: 7.578em; display: inline-block;"><span style="display: inline-block; position: relative; width: 5.739em; height: 0px; font-size: 132%;"><span style="position: absolute; clip: rect(1.626em 1005.68em 2.817em -999.997em); top: -2.432em; left: 0.003em;"><span class="mrow" id="MathJax-Span-362"><span class="mi" id="MathJax-Span-363" style="font-family: STIXGeneral; font-style: italic;">a</span><span class="mo" id="MathJax-Span-364" style="font-family: STIXGeneral; padding-left: 0.327em;">=</span><span class="mi" id="MathJax-Span-365" style="font-family: STIXGeneral; font-style: italic; padding-left: 0.327em;">p</span><span class="mo" id="MathJax-Span-366" style="font-family: STIXGeneral;">(</span><span class="mi" id="MathJax-Span-367" style="font-family: STIXGeneral; font-style: italic;">i</span><span class="mo" id="MathJax-Span-368" style="font-family: STIXGeneral; padding-left: 0.273em;">+</span><span class="mn" id="MathJax-Span-369" style="font-family: STIXGeneral; padding-left: 0.273em;">3</span><span class="mo" id="MathJax-Span-370" style="font-family: STIXGeneral;">,</span><span class="mi" id="MathJax-Span-371" style="font-family: STIXGeneral; font-style: italic; padding-left: 0.165em;">j<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mo" id="MathJax-Span-372" style="font-family: STIXGeneral;">)</span></span><span style="display: inline-block; width: 0px; height: 2.438em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.354em; border-left-width: 0px; border-left-style: solid; width: 0px; height: 1.289em;"></span></span></nobr><span class="MJX_Assistive_MathML" role="presentation"><math xmlns="http://www.w3.org/1998/Math/MathML"><mi>a</mi><mo>=</mo><mi>p</mi><mo stretchy="false">(</mo><mi>i</mi><mo>+</mo><mn>3</mn><mo>,</mo><mi>j</mi><mo stretchy="false">)</mo></math></span></span><script type="math/tex" id="MathJax-Element-34">a=p(i+3, j)</script></span>
, <span class="math"><span class="MathJax_Preview" style="color: inherit;"></span><span class="MathJax" id="MathJax-Element-35-Frame" tabindex="0" data-mathml="<math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;><mi>a</mi><mo>=</mo><mi>p</mi><mo stretchy=&quot;false&quot;>(</mo><mi>i</mi><mo>+</mo><mn>3</mn><mo>,</mo><mi>j</mi><mo>&amp;#x2212;</mo><mn>4</mn><mo stretchy=&quot;false&quot;>)</mo></math>" role="presentation" style="position: relative;"><nobr aria-hidden="true"><span class="math" id="MathJax-Span-373" role="math" style="width: 9.851em; display: inline-block;"><span style="display: inline-block; position: relative; width: 7.47em; height: 0px; font-size: 132%;"><span style="position: absolute; clip: rect(1.626em 1007.42em 2.817em -999.997em); top: -2.432em; left: 0.003em;"><span class="mrow" id="MathJax-Span-374"><span class="mi" id="MathJax-Span-375" style="font-family: STIXGeneral; font-style: italic;">a</span><span class="mo" id="MathJax-Span-376" style="font-family: STIXGeneral; padding-left: 0.327em;">=</span><span class="mi" id="MathJax-Span-377" style="font-family: STIXGeneral; font-style: italic; padding-left: 0.327em;">p</span><span class="mo" id="MathJax-Span-378" style="font-family: STIXGeneral;">(</span><span class="mi" id="MathJax-Span-379" style="font-family: STIXGeneral; font-style: italic;">i</span><span class="mo" id="MathJax-Span-380" style="font-family: STIXGeneral; padding-left: 0.273em;">+</span><span class="mn" id="MathJax-Span-381" style="font-family: STIXGeneral; padding-left: 0.273em;">3</span><span class="mo" id="MathJax-Span-382" style="font-family: STIXGeneral;">,</span><span class="mi" id="MathJax-Span-383" style="font-family: STIXGeneral; font-style: italic; padding-left: 0.165em;">j<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mo" id="MathJax-Span-384" style="font-family: STIXGeneral; padding-left: 0.273em;">−</span><span class="mn" id="MathJax-Span-385" style="font-family: STIXGeneral; padding-left: 0.273em;">4</span><span class="mo" id="MathJax-Span-386" style="font-family: STIXGeneral;">)</span></span><span style="display: inline-block; width: 0px; height: 2.438em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.354em; border-left-width: 0px; border-left-style: solid; width: 0px; height: 1.289em;"></span></span></nobr><span class="MJX_Assistive_MathML" role="presentation"><math xmlns="http://www.w3.org/1998/Math/MathML"><mi>a</mi><mo>=</mo><mi>p</mi><mo stretchy="false">(</mo><mi>i</mi><mo>+</mo><mn>3</mn><mo>,</mo><mi>j</mi><mo>−</mo><mn>4</mn><mo stretchy="false">)</mo></math></span></span><script type="math/tex" id="MathJax-Element-35">a=p(i+3, j-4)</script></span>
 and  <span class="math"><span class="MathJax_Preview" style="color: inherit;"></span><span class="MathJax" id="MathJax-Element-36-Frame" tabindex="0" data-mathml="<math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;><mi>a</mi><mo>=</mo><mi>p</mi><mo stretchy=&quot;false&quot;>(</mo><mi>i</mi><mo>&amp;#x2212;</mo><mn>4</mn><mo>,</mo><mi>j</mi><mo>+</mo><mn>3</mn><mo stretchy=&quot;false&quot;>)</mo></math>" role="presentation" style="position: relative;"><nobr aria-hidden="true"><span class="math" id="MathJax-Span-387" role="math" style="width: 9.851em; display: inline-block;"><span style="display: inline-block; position: relative; width: 7.47em; height: 0px; font-size: 132%;"><span style="position: absolute; clip: rect(1.626em 1007.42em 2.817em -999.997em); top: -2.432em; left: 0.003em;"><span class="mrow" id="MathJax-Span-388"><span class="mi" id="MathJax-Span-389" style="font-family: STIXGeneral; font-style: italic;">a</span><span class="mo" id="MathJax-Span-390" style="font-family: STIXGeneral; padding-left: 0.327em;">=</span><span class="mi" id="MathJax-Span-391" style="font-family: STIXGeneral; font-style: italic; padding-left: 0.327em;">p</span><span class="mo" id="MathJax-Span-392" style="font-family: STIXGeneral;">(</span><span class="mi" id="MathJax-Span-393" style="font-family: STIXGeneral; font-style: italic;">i</span><span class="mo" id="MathJax-Span-394" style="font-family: STIXGeneral; padding-left: 0.273em;">−</span><span class="mn" id="MathJax-Span-395" style="font-family: STIXGeneral; padding-left: 0.273em;">4</span><span class="mo" id="MathJax-Span-396" style="font-family: STIXGeneral;">,</span><span class="mi" id="MathJax-Span-397" style="font-family: STIXGeneral; font-style: italic; padding-left: 0.165em;">j<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mo" id="MathJax-Span-398" style="font-family: STIXGeneral; padding-left: 0.273em;">+</span><span class="mn" id="MathJax-Span-399" style="font-family: STIXGeneral; padding-left: 0.273em;">3</span><span class="mo" id="MathJax-Span-400" style="font-family: STIXGeneral;">)</span></span><span style="display: inline-block; width: 0px; height: 2.438em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.354em; border-left-width: 0px; border-left-style: solid; width: 0px; height: 1.289em;"></span></span></nobr><span class="MJX_Assistive_MathML" role="presentation"><math xmlns="http://www.w3.org/1998/Math/MathML"><mi>a</mi><mo>=</mo><mi>p</mi><mo stretchy="false">(</mo><mi>i</mi><mo>−</mo><mn>4</mn><mo>,</mo><mi>j</mi><mo>+</mo><mn>3</mn><mo stretchy="false">)</mo></math></span></span><script type="math/tex" id="MathJax-Element-36">a=p(i-4, j+3)</script></span>
.</p>
<hr class="docutils">
<p>Go to <a class="reference external" href="Simml">Simml reference</a>.</p>
</div>
</div>
