<div class="section" id="rst-header-id59">
<span id="rst-header-maxcharspeed"></span><h2>maxCharSpeed</h2>
<p>Tag used to introduce the maximum characteristic speed inside a mathematical expression.</p>
<div class="section" id="rst-header-id60">
<h3>Scope</h3>
<p>Discretization schema (Inside <em>math</em> tags).</p>
</div>
<div class="section" id="rst-header-id61">
<h3>Infix</h3>
<p>$mcs</p>
</div>
<div class="section" id="rst-header-id62">
<h3>Usage</h3>
<p>The <em>$mcs</em> directive needs a variable to be used as a reference for the speed's field replacements.</p>
</div>
<div class="section" id="rst-header-id63">
<h3>Example</h3>
<div class="line-block">
<div class="line"><br></div>
</div>
<img alt="https://bitbucket.org/iac3/simflowny/wiki/images/UserGuide/simml/maxCharSpeed.png" src="https://bitbucket.org/iac3/simflowny/wiki/images/UserGuide/simml/maxCharSpeed.png">
<p>If the characteristic speeds would be <span class="math"><span class="MathJax_Preview" style="color: inherit;"></span><span class="MathJax" id="MathJax-Element-17-Frame" tabindex="0" data-mathml="<math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;><mi>c</mi><mo>&amp;#x2217;</mo><mi>u</mi></math>" role="presentation" style="position: relative;"><nobr aria-hidden="true"><span class="math" id="MathJax-Span-176" role="math" style="width: 2.708em; display: inline-block;"><span style="display: inline-block; position: relative; width: 2.059em; height: 0px; font-size: 132%;"><span style="position: absolute; clip: rect(1.788em 1002.06em 2.6em -999.997em); top: -2.432em; left: 0.003em;"><span class="mrow" id="MathJax-Span-177"><span class="mi" id="MathJax-Span-178" style="font-family: STIXGeneral; font-style: italic;">c</span><span class="mo" id="MathJax-Span-179" style="font-family: STIXGeneral; padding-left: 0.273em;">∗</span><span class="mi" id="MathJax-Span-180" style="font-family: STIXGeneral; font-style: italic; padding-left: 0.273em;">u</span></span><span style="display: inline-block; width: 0px; height: 2.438em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.068em; border-left-width: 0px; border-left-style: solid; width: 0px; height: 0.789em;"></span></span></nobr><span class="MJX_Assistive_MathML" role="presentation"><math xmlns="http://www.w3.org/1998/Math/MathML"><mi>c</mi><mo>∗</mo><mi>u</mi></math></span></span><script type="math/tex" id="MathJax-Element-17">c \ast  u</script></span>
, <span class="math"><span class="MathJax_Preview" style="color: inherit;"></span><span class="MathJax" id="MathJax-Element-18-Frame" tabindex="0" data-mathml="<math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;><mo>&amp;#x2212;</mo><mi>c</mi><mo>&amp;#x2217;</mo><mi>u</mi></math>" role="presentation" style="position: relative;"><nobr aria-hidden="true"><span class="math" id="MathJax-Span-181" role="math" style="width: 3.574em; display: inline-block;"><span style="display: inline-block; position: relative; width: 2.708em; height: 0px; font-size: 132%;"><span style="position: absolute; clip: rect(1.788em 1002.71em 2.6em -999.997em); top: -2.432em; left: 0.003em;"><span class="mrow" id="MathJax-Span-182"><span class="mo" id="MathJax-Span-183" style="font-family: STIXGeneral;">−</span><span class="mi" id="MathJax-Span-184" style="font-family: STIXGeneral; font-style: italic;">c</span><span class="mo" id="MathJax-Span-185" style="font-family: STIXGeneral; padding-left: 0.273em;">∗</span><span class="mi" id="MathJax-Span-186" style="font-family: STIXGeneral; font-style: italic; padding-left: 0.273em;">u</span></span><span style="display: inline-block; width: 0px; height: 2.438em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.068em; border-left-width: 0px; border-left-style: solid; width: 0px; height: 0.789em;"></span></span></nobr><span class="MJX_Assistive_MathML" role="presentation"><math xmlns="http://www.w3.org/1998/Math/MathML"><mo>−</mo><mi>c</mi><mo>∗</mo><mi>u</mi></math></span></span><script type="math/tex" id="MathJax-Element-18">-c \ast  u</script></span>
 and <span class="math"><span class="MathJax_Preview" style="color: inherit;"></span><span class="MathJax" id="MathJax-Element-19-Frame" tabindex="0" data-mathml="<math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;><mn>0</mn></math>" role="presentation" style="position: relative;"><nobr aria-hidden="true"><span class="math" id="MathJax-Span-187" role="math" style="width: 0.76em; display: inline-block;"><span style="display: inline-block; position: relative; width: 0.544em; height: 0px; font-size: 132%;"><span style="position: absolute; clip: rect(1.626em 1000.54em 2.6em -999.997em); top: -2.432em; left: 0.003em;"><span class="mrow" id="MathJax-Span-188"><span class="mn" id="MathJax-Span-189" style="font-family: STIXGeneral;">0</span></span><span style="display: inline-block; width: 0px; height: 2.438em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.068em; border-left-width: 0px; border-left-style: solid; width: 0px; height: 1.075em;"></span></span></nobr><span class="MJX_Assistive_MathML" role="presentation"><math xmlns="http://www.w3.org/1998/Math/MathML"><mn>0</mn></math></span></span><script type="math/tex" id="MathJax-Element-19">0</script></span>
, it would generate <span class="math"><span class="MathJax_Preview" style="color: inherit;"></span><span class="MathJax" id="MathJax-Element-20-Frame" tabindex="0" data-mathml="<math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;><mi>S</mi><mi>p</mi><mi>e</mi><mi>e</mi><mi>d</mi><mo stretchy=&quot;false&quot;>(</mo><mi>i</mi><mo stretchy=&quot;false&quot;>)</mo><mo>=</mo><mi>m</mi><mi>a</mi><mi>x</mi><mo stretchy=&quot;false&quot;>(</mo><mi>c</mi><mo>&amp;#x2217;</mo><msup><mi>u</mi><mi>n</mi></msup><mo stretchy=&quot;false&quot;>(</mo><mi>i</mi><mo stretchy=&quot;false&quot;>)</mo><mo>,</mo><mo>&amp;#x2212;</mo><mi>c</mi><mo>&amp;#x2217;</mo><msup><mi>u</mi><mi>n</mi></msup><mo stretchy=&quot;false&quot;>(</mo><mi>i</mi><mo stretchy=&quot;false&quot;>)</mo><mo>,</mo><mn>0</mn><mo stretchy=&quot;false&quot;>)</mo></math>" role="presentation" style="position: relative;"><nobr aria-hidden="true"><span class="math" id="MathJax-Span-190" role="math" style="width: 20.89em; display: inline-block;"><span style="display: inline-block; position: relative; width: 15.804em; height: 0px; font-size: 132%;"><span style="position: absolute; clip: rect(1.572em 1015.75em 2.817em -999.997em); top: -2.432em; left: 0.003em;"><span class="mrow" id="MathJax-Span-191"><span class="mi" id="MathJax-Span-192" style="font-family: STIXGeneral; font-style: italic;">S<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mi" id="MathJax-Span-193" style="font-family: STIXGeneral; font-style: italic;">p</span><span class="mi" id="MathJax-Span-194" style="font-family: STIXGeneral; font-style: italic;">e</span><span class="mi" id="MathJax-Span-195" style="font-family: STIXGeneral; font-style: italic;">e</span><span class="mi" id="MathJax-Span-196" style="font-family: STIXGeneral; font-style: italic;">d<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mo" id="MathJax-Span-197" style="font-family: STIXGeneral;">(</span><span class="mi" id="MathJax-Span-198" style="font-family: STIXGeneral; font-style: italic;">i</span><span class="mo" id="MathJax-Span-199" style="font-family: STIXGeneral;">)</span><span class="mo" id="MathJax-Span-200" style="font-family: STIXGeneral; padding-left: 0.327em;">=</span><span class="mi" id="MathJax-Span-201" style="font-family: STIXGeneral; font-style: italic; padding-left: 0.327em;">m</span><span class="mi" id="MathJax-Span-202" style="font-family: STIXGeneral; font-style: italic;">a</span><span class="mi" id="MathJax-Span-203" style="font-family: STIXGeneral; font-style: italic;">x<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mo" id="MathJax-Span-204" style="font-family: STIXGeneral;">(</span><span class="mi" id="MathJax-Span-205" style="font-family: STIXGeneral; font-style: italic;">c</span><span class="mo" id="MathJax-Span-206" style="font-family: STIXGeneral; padding-left: 0.273em;">∗</span><span class="msubsup" id="MathJax-Span-207" style="padding-left: 0.273em;"><span style="display: inline-block; position: relative; width: 0.923em; height: 0px;"><span style="position: absolute; clip: rect(3.412em 1000.49em 4.169em -999.997em); top: -4.002em; left: 0.003em;"><span class="mi" id="MathJax-Span-208" style="font-family: STIXGeneral; font-style: italic;">u</span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span><span style="position: absolute; top: -4.38em; left: 0.49em;"><span class="mi" id="MathJax-Span-209" style="font-size: 70.7%; font-family: STIXGeneral; font-style: italic;">n</span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span></span></span><span class="mo" id="MathJax-Span-210" style="font-family: STIXGeneral;">(</span><span class="mi" id="MathJax-Span-211" style="font-family: STIXGeneral; font-style: italic;">i</span><span class="mo" id="MathJax-Span-212" style="font-family: STIXGeneral;">)</span><span class="mo" id="MathJax-Span-213" style="font-family: STIXGeneral;">,</span><span class="mo" id="MathJax-Span-214" style="font-family: STIXGeneral; padding-left: 0.165em;">−</span><span class="mi" id="MathJax-Span-215" style="font-family: STIXGeneral; font-style: italic;">c</span><span class="mo" id="MathJax-Span-216" style="font-family: STIXGeneral; padding-left: 0.273em;">∗</span><span class="msubsup" id="MathJax-Span-217" style="padding-left: 0.273em;"><span style="display: inline-block; position: relative; width: 0.923em; height: 0px;"><span style="position: absolute; clip: rect(3.412em 1000.49em 4.169em -999.997em); top: -4.002em; left: 0.003em;"><span class="mi" id="MathJax-Span-218" style="font-family: STIXGeneral; font-style: italic;">u</span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span><span style="position: absolute; top: -4.38em; left: 0.49em;"><span class="mi" id="MathJax-Span-219" style="font-size: 70.7%; font-family: STIXGeneral; font-style: italic;">n</span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span></span></span><span class="mo" id="MathJax-Span-220" style="font-family: STIXGeneral;">(</span><span class="mi" id="MathJax-Span-221" style="font-family: STIXGeneral; font-style: italic;">i</span><span class="mo" id="MathJax-Span-222" style="font-family: STIXGeneral;">)</span><span class="mo" id="MathJax-Span-223" style="font-family: STIXGeneral;">,</span><span class="mn" id="MathJax-Span-224" style="font-family: STIXGeneral; padding-left: 0.165em;">0</span><span class="mo" id="MathJax-Span-225" style="font-family: STIXGeneral;">)</span></span><span style="display: inline-block; width: 0px; height: 2.438em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.354em; border-left-width: 0px; border-left-style: solid; width: 0px; height: 1.289em;"></span></span></nobr><span class="MJX_Assistive_MathML" role="presentation"><math xmlns="http://www.w3.org/1998/Math/MathML"><mi>S</mi><mi>p</mi><mi>e</mi><mi>e</mi><mi>d</mi><mo stretchy="false">(</mo><mi>i</mi><mo stretchy="false">)</mo><mo>=</mo><mi>m</mi><mi>a</mi><mi>x</mi><mo stretchy="false">(</mo><mi>c</mi><mo>∗</mo><msup><mi>u</mi><mi>n</mi></msup><mo stretchy="false">(</mo><mi>i</mi><mo stretchy="false">)</mo><mo>,</mo><mo>−</mo><mi>c</mi><mo>∗</mo><msup><mi>u</mi><mi>n</mi></msup><mo stretchy="false">(</mo><mi>i</mi><mo stretchy="false">)</mo><mo>,</mo><mn>0</mn><mo stretchy="false">)</mo></math></span></span><script type="math/tex" id="MathJax-Element-20">Speed(i) = max(c \ast  u^n(i), -c \ast  u^n(i), 0)</script></span>
.</p>
<hr class="docutils">
</div>
</div>
