<div class="section" id="rst-header-id64">
<span id="rst-header-maxcharspeedcoordinate"></span><h2>maxCharSpeedCoordinate</h2>
<p>Tag used to introduce the maximum characteristic speed inside a mathematical expression differentiated by the spatial coordinates.</p>
<div class="section" id="rst-header-id65">
<h3>Scope</h3>
<p>Discretization schema (Inside <em>math</em> tags).</p>
</div>
<div class="section" id="rst-header-id66">
<h3>Infix</h3>
<p>$mcsc</p>
</div>
<div class="section" id="rst-header-id67">
<h3>Usage</h3>
<p>The <em>$mcsc</em> directive needs a variable to be used as a reference for the speed's field replacements.</p>
</div>
<div class="section" id="rst-header-id68">
<h3>Example</h3>
<div class="line-block">
<div class="line"><br></div>
</div>
<img alt="https://bitbucket.org/iac3/simflowny/wiki/images/UserGuide/simml/maxCharSpeedCoordinate.png" src="https://bitbucket.org/iac3/simflowny/wiki/images/UserGuide/simml/maxCharSpeedCoordinate.png">
<p>Imagine there are two spatial coordinates (<em>x</em> and <em>y</em>) with <span class="math"><span class="MathJax_Preview" style="color: inherit;"></span><span class="MathJax" id="MathJax-Element-21-Frame" tabindex="0" data-mathml="<math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;><mi>x</mi><mo>+</mo><mi>u</mi></math>" role="presentation" style="position: relative;"><nobr aria-hidden="true"><span class="math" id="MathJax-Span-226" role="math" style="width: 2.925em; display: inline-block;"><span style="display: inline-block; position: relative; width: 2.221em; height: 0px; font-size: 132%;"><span style="position: absolute; clip: rect(1.734em 1002.22em 2.654em -999.997em); top: -2.432em; left: 0.003em;"><span class="mrow" id="MathJax-Span-227"><span class="mi" id="MathJax-Span-228" style="font-family: STIXGeneral; font-style: italic;">x<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mo" id="MathJax-Span-229" style="font-family: STIXGeneral; padding-left: 0.273em;">+</span><span class="mi" id="MathJax-Span-230" style="font-family: STIXGeneral; font-style: italic; padding-left: 0.273em;">u</span></span><span style="display: inline-block; width: 0px; height: 2.438em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.139em; border-left-width: 0px; border-left-style: solid; width: 0px; height: 0.932em;"></span></span></nobr><span class="MJX_Assistive_MathML" role="presentation"><math xmlns="http://www.w3.org/1998/Math/MathML"><mi>x</mi><mo>+</mo><mi>u</mi></math></span></span><script type="math/tex" id="MathJax-Element-21">x + u</script></span>
 as the speed in x, and <span class="math"><span class="MathJax_Preview" style="color: inherit;"></span><span class="MathJax" id="MathJax-Element-22-Frame" tabindex="0" data-mathml="<math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;><mi>y</mi><mo>+</mo><mi>u</mi></math>" role="presentation" style="position: relative;"><nobr aria-hidden="true"><span class="math" id="MathJax-Span-231" role="math" style="width: 2.925em; display: inline-block;"><span style="display: inline-block; position: relative; width: 2.221em; height: 0px; font-size: 132%;"><span style="position: absolute; clip: rect(1.734em 1002.22em 2.817em -999.997em); top: -2.432em; left: 0.003em;"><span class="mrow" id="MathJax-Span-232"><span class="mi" id="MathJax-Span-233" style="font-family: STIXGeneral; font-style: italic;">y</span><span class="mo" id="MathJax-Span-234" style="font-family: STIXGeneral; padding-left: 0.273em;">+</span><span class="mi" id="MathJax-Span-235" style="font-family: STIXGeneral; font-style: italic; padding-left: 0.273em;">u</span></span><span style="display: inline-block; width: 0px; height: 2.438em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.354em; border-left-width: 0px; border-left-style: solid; width: 0px; height: 1.146em;"></span></span></nobr><span class="MJX_Assistive_MathML" role="presentation"><math xmlns="http://www.w3.org/1998/Math/MathML"><mi>y</mi><mo>+</mo><mi>u</mi></math></span></span><script type="math/tex" id="MathJax-Element-22">y + u</script></span>
 and <span class="math"><span class="MathJax_Preview" style="color: inherit;"></span><span class="MathJax" id="MathJax-Element-23-Frame" tabindex="0" data-mathml="<math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;><mi>y</mi><mo>&amp;#x2212;</mo><mi>u</mi></math>" role="presentation" style="position: relative;"><nobr aria-hidden="true"><span class="math" id="MathJax-Span-236" role="math" style="width: 2.925em; display: inline-block;"><span style="display: inline-block; position: relative; width: 2.221em; height: 0px; font-size: 132%;"><span style="position: absolute; clip: rect(1.843em 1002.22em 2.817em -999.997em); top: -2.432em; left: 0.003em;"><span class="mrow" id="MathJax-Span-237"><span class="mi" id="MathJax-Span-238" style="font-family: STIXGeneral; font-style: italic;">y</span><span class="mo" id="MathJax-Span-239" style="font-family: STIXGeneral; padding-left: 0.273em;">−</span><span class="mi" id="MathJax-Span-240" style="font-family: STIXGeneral; font-style: italic; padding-left: 0.273em;">u</span></span><span style="display: inline-block; width: 0px; height: 2.438em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.354em; border-left-width: 0px; border-left-style: solid; width: 0px; height: 1.004em;"></span></span></nobr><span class="MJX_Assistive_MathML" role="presentation"><math xmlns="http://www.w3.org/1998/Math/MathML"><mi>y</mi><mo>−</mo><mi>u</mi></math></span></span><script type="math/tex" id="MathJax-Element-23">y - u</script></span>
 as speeds in <em>y</em>, being u a field. Then, the instructions generated would be <span class="math"><span class="MathJax_Preview" style="color: inherit;"></span><span class="MathJax" id="MathJax-Element-24-Frame" tabindex="0" data-mathml="<math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;><mi>S</mi><mi>p</mi><mi>e</mi><mi>e</mi><mi>d</mi><mi>x</mi><mo stretchy=&quot;false&quot;>(</mo><mi>i</mi><mo stretchy=&quot;false&quot;>)</mo><mo>=</mo><mi>x</mi><mo>+</mo><msup><mi>u</mi><mi>n</mi></msup><mo stretchy=&quot;false&quot;>(</mo><mi>i</mi><mo stretchy=&quot;false&quot;>)</mo></math>" role="presentation" style="position: relative;"><nobr aria-hidden="true"><span class="math" id="MathJax-Span-241" role="math" style="width: 11.475em; display: inline-block;"><span style="display: inline-block; position: relative; width: 8.661em; height: 0px; font-size: 132%;"><span style="position: absolute; clip: rect(1.572em 1008.61em 2.817em -999.997em); top: -2.432em; left: 0.003em;"><span class="mrow" id="MathJax-Span-242"><span class="mi" id="MathJax-Span-243" style="font-family: STIXGeneral; font-style: italic;">S<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mi" id="MathJax-Span-244" style="font-family: STIXGeneral; font-style: italic;">p</span><span class="mi" id="MathJax-Span-245" style="font-family: STIXGeneral; font-style: italic;">e</span><span class="mi" id="MathJax-Span-246" style="font-family: STIXGeneral; font-style: italic;">e</span><span class="mi" id="MathJax-Span-247" style="font-family: STIXGeneral; font-style: italic;">d<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mi" id="MathJax-Span-248" style="font-family: STIXGeneral; font-style: italic;">x<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mo" id="MathJax-Span-249" style="font-family: STIXGeneral;">(</span><span class="mi" id="MathJax-Span-250" style="font-family: STIXGeneral; font-style: italic;">i</span><span class="mo" id="MathJax-Span-251" style="font-family: STIXGeneral;">)</span><span class="mo" id="MathJax-Span-252" style="font-family: STIXGeneral; padding-left: 0.327em;">=</span><span class="mi" id="MathJax-Span-253" style="font-family: STIXGeneral; font-style: italic; padding-left: 0.327em;">x<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mo" id="MathJax-Span-254" style="font-family: STIXGeneral; padding-left: 0.273em;">+</span><span class="msubsup" id="MathJax-Span-255" style="padding-left: 0.273em;"><span style="display: inline-block; position: relative; width: 0.923em; height: 0px;"><span style="position: absolute; clip: rect(3.412em 1000.49em 4.169em -999.997em); top: -4.002em; left: 0.003em;"><span class="mi" id="MathJax-Span-256" style="font-family: STIXGeneral; font-style: italic;">u</span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span><span style="position: absolute; top: -4.38em; left: 0.49em;"><span class="mi" id="MathJax-Span-257" style="font-size: 70.7%; font-family: STIXGeneral; font-style: italic;">n</span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span></span></span><span class="mo" id="MathJax-Span-258" style="font-family: STIXGeneral;">(</span><span class="mi" id="MathJax-Span-259" style="font-family: STIXGeneral; font-style: italic;">i</span><span class="mo" id="MathJax-Span-260" style="font-family: STIXGeneral;">)</span></span><span style="display: inline-block; width: 0px; height: 2.438em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.354em; border-left-width: 0px; border-left-style: solid; width: 0px; height: 1.289em;"></span></span></nobr><span class="MJX_Assistive_MathML" role="presentation"><math xmlns="http://www.w3.org/1998/Math/MathML"><mi>S</mi><mi>p</mi><mi>e</mi><mi>e</mi><mi>d</mi><mi>x</mi><mo stretchy="false">(</mo><mi>i</mi><mo stretchy="false">)</mo><mo>=</mo><mi>x</mi><mo>+</mo><msup><mi>u</mi><mi>n</mi></msup><mo stretchy="false">(</mo><mi>i</mi><mo stretchy="false">)</mo></math></span></span><script type="math/tex" id="MathJax-Element-24">Speedx(i) = x + u^n(i)</script></span>
 and <span class="math"><span class="MathJax_Preview" style="color: inherit;"></span><span class="MathJax" id="MathJax-Element-25-Frame" tabindex="0" data-mathml="<math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;><mi>S</mi><mi>p</mi><mi>e</mi><mi>e</mi><mi>d</mi><mi>y</mi><mo stretchy=&quot;false&quot;>(</mo><mi>i</mi><mo stretchy=&quot;false&quot;>)</mo><mo>=</mo><mi>m</mi><mi>a</mi><mi>x</mi><mo stretchy=&quot;false&quot;>(</mo><mi>y</mi><mo>+</mo><msup><mi>u</mi><mi>n</mi></msup><mo stretchy=&quot;false&quot;>(</mo><mi>i</mi><mo stretchy=&quot;false&quot;>)</mo><mo>,</mo><mi>y</mi><mo>&amp;#x2212;</mo><msup><mi>u</mi><mi>n</mi></msup><mo stretchy=&quot;false&quot;>(</mo><mi>i</mi><mo stretchy=&quot;false&quot;>)</mo><mo stretchy=&quot;false&quot;>)</mo></math>" role="presentation" style="position: relative;"><nobr aria-hidden="true"><span class="math" id="MathJax-Span-261" role="math" style="width: 19.754em; display: inline-block;"><span style="display: inline-block; position: relative; width: 14.938em; height: 0px; font-size: 132%;"><span style="position: absolute; clip: rect(1.572em 1014.88em 2.817em -999.997em); top: -2.432em; left: 0.003em;"><span class="mrow" id="MathJax-Span-262"><span class="mi" id="MathJax-Span-263" style="font-family: STIXGeneral; font-style: italic;">S<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mi" id="MathJax-Span-264" style="font-family: STIXGeneral; font-style: italic;">p</span><span class="mi" id="MathJax-Span-265" style="font-family: STIXGeneral; font-style: italic;">e</span><span class="mi" id="MathJax-Span-266" style="font-family: STIXGeneral; font-style: italic;">e</span><span class="mi" id="MathJax-Span-267" style="font-family: STIXGeneral; font-style: italic;">d<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mi" id="MathJax-Span-268" style="font-family: STIXGeneral; font-style: italic;">y</span><span class="mo" id="MathJax-Span-269" style="font-family: STIXGeneral;">(</span><span class="mi" id="MathJax-Span-270" style="font-family: STIXGeneral; font-style: italic;">i</span><span class="mo" id="MathJax-Span-271" style="font-family: STIXGeneral;">)</span><span class="mo" id="MathJax-Span-272" style="font-family: STIXGeneral; padding-left: 0.327em;">=</span><span class="mi" id="MathJax-Span-273" style="font-family: STIXGeneral; font-style: italic; padding-left: 0.327em;">m</span><span class="mi" id="MathJax-Span-274" style="font-family: STIXGeneral; font-style: italic;">a</span><span class="mi" id="MathJax-Span-275" style="font-family: STIXGeneral; font-style: italic;">x<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mo" id="MathJax-Span-276" style="font-family: STIXGeneral;">(</span><span class="mi" id="MathJax-Span-277" style="font-family: STIXGeneral; font-style: italic;">y</span><span class="mo" id="MathJax-Span-278" style="font-family: STIXGeneral; padding-left: 0.273em;">+</span><span class="msubsup" id="MathJax-Span-279" style="padding-left: 0.273em;"><span style="display: inline-block; position: relative; width: 0.923em; height: 0px;"><span style="position: absolute; clip: rect(3.412em 1000.49em 4.169em -999.997em); top: -4.002em; left: 0.003em;"><span class="mi" id="MathJax-Span-280" style="font-family: STIXGeneral; font-style: italic;">u</span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span><span style="position: absolute; top: -4.38em; left: 0.49em;"><span class="mi" id="MathJax-Span-281" style="font-size: 70.7%; font-family: STIXGeneral; font-style: italic;">n</span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span></span></span><span class="mo" id="MathJax-Span-282" style="font-family: STIXGeneral;">(</span><span class="mi" id="MathJax-Span-283" style="font-family: STIXGeneral; font-style: italic;">i</span><span class="mo" id="MathJax-Span-284" style="font-family: STIXGeneral;">)</span><span class="mo" id="MathJax-Span-285" style="font-family: STIXGeneral;">,</span><span class="mi" id="MathJax-Span-286" style="font-family: STIXGeneral; font-style: italic; padding-left: 0.165em;">y</span><span class="mo" id="MathJax-Span-287" style="font-family: STIXGeneral; padding-left: 0.273em;">−</span><span class="msubsup" id="MathJax-Span-288" style="padding-left: 0.273em;"><span style="display: inline-block; position: relative; width: 0.923em; height: 0px;"><span style="position: absolute; clip: rect(3.412em 1000.49em 4.169em -999.997em); top: -4.002em; left: 0.003em;"><span class="mi" id="MathJax-Span-289" style="font-family: STIXGeneral; font-style: italic;">u</span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span><span style="position: absolute; top: -4.38em; left: 0.49em;"><span class="mi" id="MathJax-Span-290" style="font-size: 70.7%; font-family: STIXGeneral; font-style: italic;">n</span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span></span></span><span class="mo" id="MathJax-Span-291" style="font-family: STIXGeneral;">(</span><span class="mi" id="MathJax-Span-292" style="font-family: STIXGeneral; font-style: italic;">i</span><span class="mo" id="MathJax-Span-293" style="font-family: STIXGeneral;">)</span><span class="mo" id="MathJax-Span-294" style="font-family: STIXGeneral;">)</span></span><span style="display: inline-block; width: 0px; height: 2.438em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.354em; border-left-width: 0px; border-left-style: solid; width: 0px; height: 1.289em;"></span></span></nobr><span class="MJX_Assistive_MathML" role="presentation"><math xmlns="http://www.w3.org/1998/Math/MathML"><mi>S</mi><mi>p</mi><mi>e</mi><mi>e</mi><mi>d</mi><mi>y</mi><mo stretchy="false">(</mo><mi>i</mi><mo stretchy="false">)</mo><mo>=</mo><mi>m</mi><mi>a</mi><mi>x</mi><mo stretchy="false">(</mo><mi>y</mi><mo>+</mo><msup><mi>u</mi><mi>n</mi></msup><mo stretchy="false">(</mo><mi>i</mi><mo stretchy="false">)</mo><mo>,</mo><mi>y</mi><mo>−</mo><msup><mi>u</mi><mi>n</mi></msup><mo stretchy="false">(</mo><mi>i</mi><mo stretchy="false">)</mo><mo stretchy="false">)</mo></math></span></span><script type="math/tex" id="MathJax-Element-25">Speedy(i) = max(y + u^n(i), y - u^n(i))</script></span>
.</p>
<hr class="docutils">
</div>
</div>
