<div class="section" id="rst-header-id7">
<span id="rst-header-param"></span><h2>param</h2>
<p>Represents a specific schema parameter. This parameter will be evaluated at discretization time.</p>
<div class="section" id="rst-header-id8">
<h3>Scope</h3>
<p>Discretization schema (Inside <em>math</em> tags).</p>
</div>
<div class="section" id="rst-header-id9">
<h3>Infix</h3>
<p>$p</p>
</div>
<div class="section" id="rst-header-id10">
<h3>Usage</h3>
<p>The name of the parameter to use should be added as a sufix in the directive, as <em>$p_X</em>.</p>
</div>
<div class="section" id="rst-header-id11">
<h3>Example</h3>
<div class="line-block">
<div class="line"><br></div>
</div>
<img alt="https://bitbucket.org/iac3/simflowny/wiki/images/UserGuide/simml/param.png" src="https://bitbucket.org/iac3/simflowny/wiki/images/UserGuide/simml/param.png">
<p>If parameter <em>epsilon</em> is set to 0.5 in the discretization policy, the instruction would be <span class="math"><span class="MathJax_Preview" style="color: inherit;"></span><span class="MathJax" id="MathJax-Element-4-Frame" tabindex="0" data-mathml="<math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;><mn>10</mn><mrow class=&quot;MJX-TeXAtom-ORD&quot;><mo>/</mo></mrow><mo stretchy=&quot;false&quot;>(</mo><mn>21</mn><mo>&amp;#x2217;</mo><mo stretchy=&quot;false&quot;>(</mo><mn>0.5</mn><mo>+</mo><mi>b</mi><mi>e</mi><mi>t</mi><mi>a</mi><msup><mo stretchy=&quot;false&quot;>)</mo><mn>2</mn></msup><mo stretchy=&quot;false&quot;>)</mo></math>" role="presentation" style="position: relative;"><nobr aria-hidden="true"><span class="math" id="MathJax-Span-102" role="math" style="width: 12.286em; display: inline-block;"><span style="display: inline-block; position: relative; width: 9.31em; height: 0px; font-size: 132%;"><span style="position: absolute; clip: rect(1.41em 1009.26em 2.762em -999.997em); top: -2.432em; left: 0.003em;"><span class="mrow" id="MathJax-Span-103"><span class="mn" id="MathJax-Span-104" style="font-family: STIXGeneral;">10</span><span class="texatom" id="MathJax-Span-105"><span class="mrow" id="MathJax-Span-106"><span class="mo" id="MathJax-Span-107" style="font-family: STIXGeneral;">/</span></span></span><span class="mo" id="MathJax-Span-108" style="font-family: STIXGeneral;">(</span><span class="mn" id="MathJax-Span-109" style="font-family: STIXGeneral;">21</span><span class="mo" id="MathJax-Span-110" style="font-family: STIXGeneral; padding-left: 0.273em;">∗</span><span class="mo" id="MathJax-Span-111" style="font-family: STIXGeneral; padding-left: 0.273em;">(</span><span class="mn" id="MathJax-Span-112" style="font-family: STIXGeneral;">0.5</span><span class="mo" id="MathJax-Span-113" style="font-family: STIXGeneral; padding-left: 0.273em;">+</span><span class="mi" id="MathJax-Span-114" style="font-family: STIXGeneral; font-style: italic; padding-left: 0.273em;">b</span><span class="mi" id="MathJax-Span-115" style="font-family: STIXGeneral; font-style: italic;">e</span><span class="mi" id="MathJax-Span-116" style="font-family: STIXGeneral; font-style: italic;">t<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mi" id="MathJax-Span-117" style="font-family: STIXGeneral; font-style: italic;">a</span><span class="msubsup" id="MathJax-Span-118"><span style="display: inline-block; position: relative; width: 0.76em; height: 0px;"><span style="position: absolute; clip: rect(3.195em 1000.27em 4.332em -999.997em); top: -4.002em; left: 0.003em;"><span class="mo" id="MathJax-Span-119" style="font-family: STIXGeneral;">)</span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span><span style="position: absolute; top: -4.38em; left: 0.327em;"><span class="mn" id="MathJax-Span-120" style="font-size: 70.7%; font-family: STIXGeneral;">2</span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span></span></span><span class="mo" id="MathJax-Span-121" style="font-family: STIXGeneral;">)</span></span><span style="display: inline-block; width: 0px; height: 2.438em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.282em; border-left-width: 0px; border-left-style: solid; width: 0px; height: 1.504em;"></span></span></nobr><span class="MJX_Assistive_MathML" role="presentation"><math xmlns="http://www.w3.org/1998/Math/MathML"><mn>10</mn><mrow class="MJX-TeXAtom-ORD"><mo>/</mo></mrow><mo stretchy="false">(</mo><mn>21</mn><mo>∗</mo><mo stretchy="false">(</mo><mn>0.5</mn><mo>+</mo><mi>b</mi><mi>e</mi><mi>t</mi><mi>a</mi><msup><mo stretchy="false">)</mo><mn>2</mn></msup><mo stretchy="false">)</mo></math></span></span><script type="math/tex" id="MathJax-Element-4">10/(21 * (0.5 + beta)^2)</script></span>
</p>
<hr class="docutils">
</div>
</div>
