<div class="section" id="rst-header-id2">
<span id="rst-header-specialfield"></span><h2>specialField</h2>
<p>Represents the special field in discretizations that requires it.</p>
<div class="section" id="rst-header-id3">
<h3>Scope</h3>
<p>Discretization schema (Inside <em>math</em> tags and only meshless).</p>
</div>
<div class="section" id="rst-header-id4">
<h3>Infix</h3>
<p>$sf</p>
</div>
<div class="section" id="rst-header-id5">
<h3>Usage</h3>
<p>No special usage.</p>
</div>
<div class="section" id="rst-header-id6">
<h3>Example</h3>
<div class="line-block">
<div class="line"><br></div>
</div>
<img alt="https://bitbucket.org/iac3/simflowny/wiki/images/UserGuide/simml/specialField.png" src="https://bitbucket.org/iac3/simflowny/wiki/images/UserGuide/simml/specialField.png">
<p>If the special field was φ, the instruction will generate <span class="math"><span class="MathJax_Preview" style="color: inherit;"></span><span class="MathJax" id="MathJax-Element-3-Frame" tabindex="0" data-mathml="<math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;><mi>v</mi><mi>o</mi><mi>l</mi><mo>=</mo><mi>n</mi><mi>e</mi><mi>i</mi><mi>g</mi><mi>h</mi><mi>b</mi><mi>o</mi><mi>u</mi><mi>r</mi><mi>P</mi><mi>a</mi><mi>r</mi><mi>t</mi><mi>i</mi><mi>c</mi><mi>l</mi><mi>e</mi><mo stretchy=&quot;false&quot;>(</mo><mi>m</mi><mi>a</mi><mi>s</mi><mi>s</mi><mo stretchy=&quot;false&quot;>(</mo><mi>i</mi><mo stretchy=&quot;false&quot;>)</mo><mrow class=&quot;MJX-TeXAtom-ORD&quot;><mo>/</mo></mrow><mi>&amp;#x03C6;</mi><mo stretchy=&quot;false&quot;>(</mo><mi>i</mi><mo stretchy=&quot;false&quot;>)</mo><mo stretchy=&quot;false&quot;>)</mo></math>" role="presentation" style="position: relative;"><nobr aria-hidden="true"><span class="math" id="MathJax-Span-63" role="math" style="width: 20.295em; display: inline-block;"><span style="display: inline-block; position: relative; width: 15.371em; height: 0px; font-size: 132%;"><span style="position: absolute; clip: rect(1.572em 1015.32em 2.817em -999.997em); top: -2.432em; left: 0.003em;"><span class="mrow" id="MathJax-Span-64"><span class="mi" id="MathJax-Span-65" style="font-family: STIXGeneral; font-style: italic;">v</span><span class="mi" id="MathJax-Span-66" style="font-family: STIXGeneral; font-style: italic;">o</span><span class="mi" id="MathJax-Span-67" style="font-family: STIXGeneral; font-style: italic;">l<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mo" id="MathJax-Span-68" style="font-family: STIXGeneral; padding-left: 0.327em;">=</span><span class="mi" id="MathJax-Span-69" style="font-family: STIXGeneral; font-style: italic; padding-left: 0.327em;">n</span><span class="mi" id="MathJax-Span-70" style="font-family: STIXGeneral; font-style: italic;">e</span><span class="mi" id="MathJax-Span-71" style="font-family: STIXGeneral; font-style: italic;">i</span><span class="mi" id="MathJax-Span-72" style="font-family: STIXGeneral; font-style: italic;">g</span><span class="mi" id="MathJax-Span-73" style="font-family: STIXGeneral; font-style: italic;">h</span><span class="mi" id="MathJax-Span-74" style="font-family: STIXGeneral; font-style: italic;">b</span><span class="mi" id="MathJax-Span-75" style="font-family: STIXGeneral; font-style: italic;">o</span><span class="mi" id="MathJax-Span-76" style="font-family: STIXGeneral; font-style: italic;">u</span><span class="mi" id="MathJax-Span-77" style="font-family: STIXGeneral; font-style: italic;">r<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mi" id="MathJax-Span-78" style="font-family: STIXGeneral; font-style: italic;">P</span><span class="mi" id="MathJax-Span-79" style="font-family: STIXGeneral; font-style: italic;">a</span><span class="mi" id="MathJax-Span-80" style="font-family: STIXGeneral; font-style: italic;">r<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mi" id="MathJax-Span-81" style="font-family: STIXGeneral; font-style: italic;">t<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mi" id="MathJax-Span-82" style="font-family: STIXGeneral; font-style: italic;">i</span><span class="mi" id="MathJax-Span-83" style="font-family: STIXGeneral; font-style: italic;">c</span><span class="mi" id="MathJax-Span-84" style="font-family: STIXGeneral; font-style: italic;">l<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mi" id="MathJax-Span-85" style="font-family: STIXGeneral; font-style: italic;">e</span><span class="mo" id="MathJax-Span-86" style="font-family: STIXGeneral;">(</span><span class="mi" id="MathJax-Span-87" style="font-family: STIXGeneral; font-style: italic;">m</span><span class="mi" id="MathJax-Span-88" style="font-family: STIXGeneral; font-style: italic;">a</span><span class="mi" id="MathJax-Span-89" style="font-family: STIXGeneral; font-style: italic;">s</span><span class="mi" id="MathJax-Span-90" style="font-family: STIXGeneral; font-style: italic;">s</span><span class="mo" id="MathJax-Span-91" style="font-family: STIXGeneral;">(</span><span class="mi" id="MathJax-Span-92" style="font-family: STIXGeneral; font-style: italic;">i</span><span class="mo" id="MathJax-Span-93" style="font-family: STIXGeneral;">)</span><span class="texatom" id="MathJax-Span-94"><span class="mrow" id="MathJax-Span-95"><span class="mo" id="MathJax-Span-96" style="font-family: STIXGeneral;">/</span></span></span><span class="mi" id="MathJax-Span-97" style="font-family: STIXGeneral; font-style: italic;">φ</span><span class="mo" id="MathJax-Span-98" style="font-family: STIXGeneral;">(</span><span class="mi" id="MathJax-Span-99" style="font-family: STIXGeneral; font-style: italic;">i</span><span class="mo" id="MathJax-Span-100" style="font-family: STIXGeneral;">)</span><span class="mo" id="MathJax-Span-101" style="font-family: STIXGeneral;">)</span></span><span style="display: inline-block; width: 0px; height: 2.438em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.354em; border-left-width: 0px; border-left-style: solid; width: 0px; height: 1.289em;"></span></span></nobr><span class="MJX_Assistive_MathML" role="presentation"><math xmlns="http://www.w3.org/1998/Math/MathML"><mi>v</mi><mi>o</mi><mi>l</mi><mo>=</mo><mi>n</mi><mi>e</mi><mi>i</mi><mi>g</mi><mi>h</mi><mi>b</mi><mi>o</mi><mi>u</mi><mi>r</mi><mi>P</mi><mi>a</mi><mi>r</mi><mi>t</mi><mi>i</mi><mi>c</mi><mi>l</mi><mi>e</mi><mo stretchy="false">(</mo><mi>m</mi><mi>a</mi><mi>s</mi><mi>s</mi><mo stretchy="false">(</mo><mi>i</mi><mo stretchy="false">)</mo><mrow class="MJX-TeXAtom-ORD"><mo>/</mo></mrow><mi>φ</mi><mo stretchy="false">(</mo><mi>i</mi><mo stretchy="false">)</mo><mo stretchy="false">)</mo></math></span></span><script type="math/tex" id="MathJax-Element-3">vol = neighbourParticle(mass(i)/\varphi (i))</script></span>
</p>
<hr class="docutils">
</div>
</div>
