<div class="section" id="rst-header-id32">
<span id="rst-header-sources"></span><h2>sources</h2>
<p>Tag used within a mathematical expression to get the PDE source using the content of the tag as a base variable.</p>
<div class="section" id="rst-header-id33">
<h3>Scope</h3>
<p>Discretization schema (Inside <em>math</em> tags).</p>
</div>
<div class="section" id="rst-header-id34">
<h3>Infix</h3>
<p>$src</p>
</div>
<div class="section" id="rst-header-id35">
<h3>Usage</h3>
<p>The <em>$src</em> directive needs a variable to be used as a reference for the source's field replacements.</p>
</div>
<div class="section" id="rst-header-id36">
<h3>Example</h3>
<div class="line-block">
<div class="line"><br></div>
</div>
<img alt="https://bitbucket.org/iac3/simflowny/wiki/images/UserGuide/simml/sources.png" src="https://bitbucket.org/iac3/simflowny/wiki/images/UserGuide/simml/sources.png">
<p>The variable <code>Sources_$f</code> will store the sources for every field with the values for the field variable at the current time step. For example, if the sources of the current PDE are <span class="math"><span class="MathJax_Preview" style="color: inherit;"></span><span class="MathJax" id="MathJax-Element-4-Frame" tabindex="0" data-mathml="<math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;><msup><mi>S</mi><mrow class=&quot;MJX-TeXAtom-ORD&quot;><mo stretchy=&quot;false&quot;>(</mo><mi>B</mi><mi>x</mi><mo stretchy=&quot;false&quot;>)</mo></mrow></msup><mo>=</mo><mrow><mo>(</mo><mo>&amp;#x2212;</mo><mi>a</mi><mo>)</mo></mrow><mstyle displaystyle=&quot;false&quot; scriptlevel=&quot;0&quot;><mtext>&amp;#xA0;</mtext></mstyle><mrow class=&quot;MJX-TeXAtom-ORD&quot;><mi>B</mi><mi>x</mi></mrow></math>" role="presentation" style="position: relative;"><nobr aria-hidden="true"><span class="math" id="MathJax-Span-32" role="math" style="width: 8.607em; display: inline-block;"><span style="display: inline-block; position: relative; width: 6.496em; height: 0px; font-size: 132%;"><span style="position: absolute; clip: rect(1.41em 1006.5em 2.762em -999.997em); top: -2.432em; left: 0.003em;"><span class="mrow" id="MathJax-Span-33"><span class="msubsup" id="MathJax-Span-34"><span style="display: inline-block; position: relative; width: 1.843em; height: 0px;"><span style="position: absolute; clip: rect(3.195em 1000.49em 4.169em -999.997em); top: -4.002em; left: 0.003em;"><span class="mi" id="MathJax-Span-35" style="font-family: STIXGeneral; font-style: italic;">S<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span><span style="position: absolute; top: -4.38em; left: 0.544em;"><span class="texatom" id="MathJax-Span-36"><span class="mrow" id="MathJax-Span-37"><span class="mo" id="MathJax-Span-38" style="font-size: 70.7%; font-family: STIXGeneral;">(</span><span class="mi" id="MathJax-Span-39" style="font-size: 70.7%; font-family: STIXGeneral; font-style: italic;">B</span><span class="mi" id="MathJax-Span-40" style="font-size: 70.7%; font-family: STIXGeneral; font-style: italic;">x<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mo" id="MathJax-Span-41" style="font-size: 70.7%; font-family: STIXGeneral;">)</span></span></span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span></span></span><span class="mo" id="MathJax-Span-42" style="font-family: STIXGeneral; padding-left: 0.327em;">=</span><span class="mrow" id="MathJax-Span-43" style="padding-left: 0.327em;"><span class="mo" id="MathJax-Span-44" style="font-family: STIXGeneral;">(</span><span class="mo" id="MathJax-Span-45" style="font-family: STIXGeneral;">−</span><span class="mi" id="MathJax-Span-46" style="font-family: STIXGeneral; font-style: italic;">a</span><span class="mo" id="MathJax-Span-47" style="font-family: STIXGeneral;">)</span></span><span class="mstyle" id="MathJax-Span-48" style="padding-left: 0.165em;"><span class="mrow" id="MathJax-Span-49"><span class="mtext" id="MathJax-Span-50" style="font-family: STIXGeneral;">&nbsp;</span></span></span><span class="texatom" id="MathJax-Span-51"><span class="mrow" id="MathJax-Span-52"><span class="mi" id="MathJax-Span-53" style="font-family: STIXGeneral; font-style: italic;">B</span><span class="mi" id="MathJax-Span-54" style="font-family: STIXGeneral; font-style: italic;">x<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span></span></span></span><span style="display: inline-block; width: 0px; height: 2.438em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.282em; border-left-width: 0px; border-left-style: solid; width: 0px; height: 1.504em;"></span></span></nobr><span class="MJX_Assistive_MathML" role="presentation"><math xmlns="http://www.w3.org/1998/Math/MathML"><msup><mi>S</mi><mrow class="MJX-TeXAtom-ORD"><mo stretchy="false">(</mo><mi>B</mi><mi>x</mi><mo stretchy="false">)</mo></mrow></msup><mo>=</mo><mrow><mo>(</mo><mo>−</mo><mi>a</mi><mo>)</mo></mrow><mstyle displaystyle="false" scriptlevel="0"><mtext>&nbsp;</mtext></mstyle><mrow class="MJX-TeXAtom-ORD"><mi>B</mi><mi>x</mi></mrow></math></span></span><script type="math/tex" id="MathJax-Element-4">S^{(Bx)} = \left(-a\right)\mbox{ }{Bx}</script></span>
, then the instruction would be <span class="math"><span class="MathJax_Preview" style="color: inherit;"></span><span class="MathJax" id="MathJax-Element-5-Frame" tabindex="0" data-mathml="<math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;><mi>S</mi><mi>o</mi><mi>u</mi><mi>r</mi><mi>c</mi><mi>e</mi><msub><mi>s</mi><mi>B</mi></msub><mi>x</mi><mo>=</mo><mrow><mo>(</mo><mo>&amp;#x2212;</mo><mi>a</mi><mo>)</mo></mrow><mstyle displaystyle=&quot;false&quot; scriptlevel=&quot;0&quot;><mtext>&amp;#xA0;</mtext></mstyle><mrow class=&quot;MJX-TeXAtom-ORD&quot;><mi>B</mi><msup><mi>x</mi><mi>n</mi></msup></mrow></math>" role="presentation" style="position: relative;"><nobr aria-hidden="true"><span class="math" id="MathJax-Span-55" role="math" style="width: 12.286em; display: inline-block;"><span style="display: inline-block; position: relative; width: 9.31em; height: 0px; font-size: 132%;"><span style="position: absolute; clip: rect(1.626em 1009.31em 2.762em -999.997em); top: -2.432em; left: 0.003em;"><span class="mrow" id="MathJax-Span-56"><span class="mi" id="MathJax-Span-57" style="font-family: STIXGeneral; font-style: italic;">S<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mi" id="MathJax-Span-58" style="font-family: STIXGeneral; font-style: italic;">o</span><span class="mi" id="MathJax-Span-59" style="font-family: STIXGeneral; font-style: italic;">u</span><span class="mi" id="MathJax-Span-60" style="font-family: STIXGeneral; font-style: italic;">r<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mi" id="MathJax-Span-61" style="font-family: STIXGeneral; font-style: italic;">c</span><span class="mi" id="MathJax-Span-62" style="font-family: STIXGeneral; font-style: italic;">e</span><span class="msubsup" id="MathJax-Span-63"><span style="display: inline-block; position: relative; width: 0.923em; height: 0px;"><span style="position: absolute; clip: rect(3.412em 1000.38em 4.169em -999.997em); top: -4.002em; left: 0.003em;"><span class="mi" id="MathJax-Span-64" style="font-family: STIXGeneral; font-style: italic;">s</span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span><span style="position: absolute; top: -3.839em; left: 0.381em;"><span class="mi" id="MathJax-Span-65" style="font-size: 70.7%; font-family: STIXGeneral; font-style: italic;">B</span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span></span></span><span class="mi" id="MathJax-Span-66" style="font-family: STIXGeneral; font-style: italic;">x<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mo" id="MathJax-Span-67" style="font-family: STIXGeneral; padding-left: 0.327em;">=</span><span class="mrow" id="MathJax-Span-68" style="padding-left: 0.327em;"><span class="mo" id="MathJax-Span-69" style="font-family: STIXGeneral;">(</span><span class="mo" id="MathJax-Span-70" style="font-family: STIXGeneral;">−</span><span class="mi" id="MathJax-Span-71" style="font-family: STIXGeneral; font-style: italic;">a</span><span class="mo" id="MathJax-Span-72" style="font-family: STIXGeneral;">)</span></span><span class="mstyle" id="MathJax-Span-73" style="padding-left: 0.165em;"><span class="mrow" id="MathJax-Span-74"><span class="mtext" id="MathJax-Span-75" style="font-family: STIXGeneral;">&nbsp;</span></span></span><span class="texatom" id="MathJax-Span-76"><span class="mrow" id="MathJax-Span-77"><span class="mi" id="MathJax-Span-78" style="font-family: STIXGeneral; font-style: italic;">B</span><span class="msubsup" id="MathJax-Span-79"><span style="display: inline-block; position: relative; width: 0.923em; height: 0px;"><span style="position: absolute; clip: rect(3.412em 1000.44em 4.169em -999.997em); top: -4.002em; left: 0.003em;"><span class="mi" id="MathJax-Span-80" style="font-family: STIXGeneral; font-style: italic;">x<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span><span style="position: absolute; top: -4.38em; left: 0.49em;"><span class="mi" id="MathJax-Span-81" style="font-size: 70.7%; font-family: STIXGeneral; font-style: italic;">n</span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span></span></span></span></span></span><span style="display: inline-block; width: 0px; height: 2.438em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.282em; border-left-width: 0px; border-left-style: solid; width: 0px; height: 1.289em;"></span></span></nobr><span class="MJX_Assistive_MathML" role="presentation"><math xmlns="http://www.w3.org/1998/Math/MathML"><mi>S</mi><mi>o</mi><mi>u</mi><mi>r</mi><mi>c</mi><mi>e</mi><msub><mi>s</mi><mi>B</mi></msub><mi>x</mi><mo>=</mo><mrow><mo>(</mo><mo>−</mo><mi>a</mi><mo>)</mo></mrow><mstyle displaystyle="false" scriptlevel="0"><mtext>&nbsp;</mtext></mstyle><mrow class="MJX-TeXAtom-ORD"><mi>B</mi><msup><mi>x</mi><mi>n</mi></msup></mrow></math></span></span><script type="math/tex" id="MathJax-Element-5">Sources_Bx = \left(-a\right)\mbox{ }{Bx^n}</script></span>
.</p>
<hr class="docutils">
</div>
</div>
