<div class="section" id="rst-header-id42">
<span id="rst-header-timecoordinate"></span><h2>timeCoordinate</h2>
<p>Represents the discrete time coordinate.</p>
<div class="section" id="rst-header-id43">
<h3>Scope</h3>
<p>Discretization schema (Inside <em>math</em> tags).</p>
</div>
<div class="section" id="rst-header-id44">
<h3>Infix</h3>
<p>$t</p>
</div>
<div class="section" id="rst-header-id45">
<h3>Usage</h3>
<p>No special usage.</p>
</div>
<div class="section" id="rst-header-id46">
<h3>Example</h3>
<div class="line-block">
<div class="line"><br></div>
</div>
<img alt="https://bitbucket.org/iac3/simflowny/wiki/images/UserGuide/simml/timeCoordinate.png" src="https://bitbucket.org/iac3/simflowny/wiki/images/UserGuide/simml/timeCoordinate.png">
<p>If the discrete time coordinate is <em>n</em> it will generate <span class="math"><span class="MathJax_Preview" style="color: inherit;"></span><span class="MathJax" id="MathJax-Element-17-Frame" tabindex="0" data-mathml="<math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;><msub><mi>a</mi><mi>n</mi></msub><mo>=</mo><mi>p</mi><mo stretchy=&quot;false&quot;>(</mo><mi>i</mi><mo stretchy=&quot;false&quot;>)</mo></math>" role="presentation" style="position: relative;"><nobr aria-hidden="true"><span class="math" id="MathJax-Span-294" role="math" style="width: 4.927em; display: inline-block;"><span style="display: inline-block; position: relative; width: 3.736em; height: 0px; font-size: 132%;"><span style="position: absolute; clip: rect(1.626em 1003.68em 2.817em -999.997em); top: -2.432em; left: 0.003em;"><span class="mrow" id="MathJax-Span-295"><span class="msubsup" id="MathJax-Span-296"><span style="display: inline-block; position: relative; width: 0.923em; height: 0px;"><span style="position: absolute; clip: rect(3.412em 1000.49em 4.169em -999.997em); top: -4.002em; left: 0.003em;"><span class="mi" id="MathJax-Span-297" style="font-family: STIXGeneral; font-style: italic;">a</span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span><span style="position: absolute; top: -3.839em; left: 0.49em;"><span class="mi" id="MathJax-Span-298" style="font-size: 70.7%; font-family: STIXGeneral; font-style: italic;">n</span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span></span></span><span class="mo" id="MathJax-Span-299" style="font-family: STIXGeneral; padding-left: 0.327em;">=</span><span class="mi" id="MathJax-Span-300" style="font-family: STIXGeneral; font-style: italic; padding-left: 0.327em;">p</span><span class="mo" id="MathJax-Span-301" style="font-family: STIXGeneral;">(</span><span class="mi" id="MathJax-Span-302" style="font-family: STIXGeneral; font-style: italic;">i</span><span class="mo" id="MathJax-Span-303" style="font-family: STIXGeneral;">)</span></span><span style="display: inline-block; width: 0px; height: 2.438em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.354em; border-left-width: 0px; border-left-style: solid; width: 0px; height: 1.289em;"></span></span></nobr><span class="MJX_Assistive_MathML" role="presentation"><math xmlns="http://www.w3.org/1998/Math/MathML"><msub><mi>a</mi><mi>n</mi></msub><mo>=</mo><mi>p</mi><mo stretchy="false">(</mo><mi>i</mi><mo stretchy="false">)</mo></math></span></span><script type="math/tex" id="MathJax-Element-17">a_n = p(i)</script></span>
.</p>
<hr class="docutils">
</div>
</div>
