<div class="section" id="rst-header-id37">
<span id="rst-header-secondcontspatialcoordinate"></span><h2>secondContSpatialCoordinate</h2>
<p>Represents the second continuous spatial coordinate in a <em>parabolicTermsContext</em> mathematical expression.</p>
<div class="section" id="rst-header-id38">
<h3>Scope</h3>
<p>Discretization schema (Inside <em>math</em> tags and only in a <em>parabolicTermsContext</em>).</p>
</div>
<div class="section" id="rst-header-id39">
<h3>Infix</h3>
<p>$x2</p>
</div>
<div class="section" id="rst-header-id40">
<h3>Usage</h3>
<p>No special usage.</p>
</div>
<div class="section" id="rst-header-id41">
<h3>Example</h3>
<div class="line-block">
<div class="line"><br></div>
</div>
<img alt="https://bitbucket.org/iac3/simflowny/wiki/images/UserGuide/simml/contSpatialCoordinate.png" src="https://bitbucket.org/iac3/simflowny/wiki/images/UserGuide/simml/contSpatialCoordinate.png">
<p>The examples shows a parabolic term function where, when the coordinates are different, the factor uses <em>$x2</em>.</p>
<p>In case there are two spatial coordinates (x and y), the factors would be <span class="math"><span class="MathJax_Preview" style="color: inherit;"></span><span class="MathJax" id="MathJax-Element-13-Frame" tabindex="0" data-mathml="<math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;><mn>1</mn><mrow class=&quot;MJX-TeXAtom-ORD&quot;><mo>/</mo></mrow><mo stretchy=&quot;false&quot;>(</mo><mn>4</mn><mo>&amp;#x2217;</mo><mi mathvariant=&quot;normal&quot;>&amp;#x0394;</mi><msup><mi>x</mi><mn>2</mn></msup><mo stretchy=&quot;false&quot;>)</mo></math>" role="presentation" style="position: relative;"><nobr aria-hidden="true"><span class="math" id="MathJax-Span-236" role="math" style="width: 6.172em; display: inline-block;"><span style="display: inline-block; position: relative; width: 4.656em; height: 0px; font-size: 132%;"><span style="position: absolute; clip: rect(1.41em 1004.6em 2.762em -999.997em); top: -2.432em; left: 0.003em;"><span class="mrow" id="MathJax-Span-237"><span class="mn" id="MathJax-Span-238" style="font-family: STIXGeneral;">1</span><span class="texatom" id="MathJax-Span-239"><span class="mrow" id="MathJax-Span-240"><span class="mo" id="MathJax-Span-241" style="font-family: STIXGeneral;">/</span></span></span><span class="mo" id="MathJax-Span-242" style="font-family: STIXGeneral;">(</span><span class="mn" id="MathJax-Span-243" style="font-family: STIXGeneral;">4</span><span class="mo" id="MathJax-Span-244" style="font-family: STIXGeneral; padding-left: 0.273em;">∗</span><span class="mi" id="MathJax-Span-245" style="font-family: STIXGeneral; padding-left: 0.273em;">Δ</span><span class="msubsup" id="MathJax-Span-246"><span style="display: inline-block; position: relative; width: 0.923em; height: 0px;"><span style="position: absolute; clip: rect(3.412em 1000.44em 4.169em -999.997em); top: -4.002em; left: 0.003em;"><span class="mi" id="MathJax-Span-247" style="font-family: STIXGeneral; font-style: italic;">x<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span><span style="position: absolute; top: -4.38em; left: 0.49em;"><span class="mn" id="MathJax-Span-248" style="font-size: 70.7%; font-family: STIXGeneral;">2</span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span></span></span><span class="mo" id="MathJax-Span-249" style="font-family: STIXGeneral;">)</span></span><span style="display: inline-block; width: 0px; height: 2.438em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.282em; border-left-width: 0px; border-left-style: solid; width: 0px; height: 1.504em;"></span></span></nobr><span class="MJX_Assistive_MathML" role="presentation"><math xmlns="http://www.w3.org/1998/Math/MathML"><mn>1</mn><mrow class="MJX-TeXAtom-ORD"><mo>/</mo></mrow><mo stretchy="false">(</mo><mn>4</mn><mo>∗</mo><mi mathvariant="normal">Δ</mi><msup><mi>x</mi><mn>2</mn></msup><mo stretchy="false">)</mo></math></span></span><script type="math/tex" id="MathJax-Element-13">1/(4 * \Delta x^2)</script></span>
, <span class="math"><span class="MathJax_Preview" style="color: inherit;"></span><span class="MathJax" id="MathJax-Element-14-Frame" tabindex="0" data-mathml="<math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;><mn>1</mn><mrow class=&quot;MJX-TeXAtom-ORD&quot;><mo>/</mo></mrow><mo stretchy=&quot;false&quot;>(</mo><mn>4</mn><mo>&amp;#x2217;</mo><mi mathvariant=&quot;normal&quot;>&amp;#x0394;</mi><msup><mi>y</mi><mn>2</mn></msup><mo stretchy=&quot;false&quot;>)</mo></math>" role="presentation" style="position: relative;"><nobr aria-hidden="true"><span class="math" id="MathJax-Span-250" role="math" style="width: 6.117em; display: inline-block;"><span style="display: inline-block; position: relative; width: 4.602em; height: 0px; font-size: 132%;"><span style="position: absolute; clip: rect(1.41em 1004.55em 2.817em -999.997em); top: -2.432em; left: 0.003em;"><span class="mrow" id="MathJax-Span-251"><span class="mn" id="MathJax-Span-252" style="font-family: STIXGeneral;">1</span><span class="texatom" id="MathJax-Span-253"><span class="mrow" id="MathJax-Span-254"><span class="mo" id="MathJax-Span-255" style="font-family: STIXGeneral;">/</span></span></span><span class="mo" id="MathJax-Span-256" style="font-family: STIXGeneral;">(</span><span class="mn" id="MathJax-Span-257" style="font-family: STIXGeneral;">4</span><span class="mo" id="MathJax-Span-258" style="font-family: STIXGeneral; padding-left: 0.273em;">∗</span><span class="mi" id="MathJax-Span-259" style="font-family: STIXGeneral; padding-left: 0.273em;">Δ</span><span class="msubsup" id="MathJax-Span-260"><span style="display: inline-block; position: relative; width: 0.869em; height: 0px;"><span style="position: absolute; clip: rect(3.412em 1000.44em 4.386em -999.997em); top: -4.002em; left: 0.003em;"><span class="mi" id="MathJax-Span-261" style="font-family: STIXGeneral; font-style: italic;">y</span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span><span style="position: absolute; top: -4.38em; left: 0.436em;"><span class="mn" id="MathJax-Span-262" style="font-size: 70.7%; font-family: STIXGeneral;">2</span><span style="display: inline-block; width: 0px; height: 4.007em;"></span></span></span></span><span class="mo" id="MathJax-Span-263" style="font-family: STIXGeneral;">)</span></span><span style="display: inline-block; width: 0px; height: 2.438em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.354em; border-left-width: 0px; border-left-style: solid; width: 0px; height: 1.504em;"></span></span></nobr><span class="MJX_Assistive_MathML" role="presentation"><math xmlns="http://www.w3.org/1998/Math/MathML"><mn>1</mn><mrow class="MJX-TeXAtom-ORD"><mo>/</mo></mrow><mo stretchy="false">(</mo><mn>4</mn><mo>∗</mo><mi mathvariant="normal">Δ</mi><msup><mi>y</mi><mn>2</mn></msup><mo stretchy="false">)</mo></math></span></span><script type="math/tex" id="MathJax-Element-14">1/(4 * \Delta y^2)</script></span>
, <span class="math"><span class="MathJax_Preview" style="color: inherit;"></span><span class="MathJax" id="MathJax-Element-15-Frame" tabindex="0" data-mathml="<math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;><mn>1</mn><mrow class=&quot;MJX-TeXAtom-ORD&quot;><mo>/</mo></mrow><mo stretchy=&quot;false&quot;>(</mo><mn>4</mn><mo>&amp;#x2217;</mo><mi mathvariant=&quot;normal&quot;>&amp;#x0394;</mi><mi>x</mi><mo>&amp;#x2217;</mo><mi mathvariant=&quot;normal&quot;>&amp;#x0394;</mi><mi>y</mi><mo stretchy=&quot;false&quot;>)</mo></math>" role="presentation" style="position: relative;"><nobr aria-hidden="true"><span class="math" id="MathJax-Span-264" role="math" style="width: 8.498em; display: inline-block;"><span style="display: inline-block; position: relative; width: 6.442em; height: 0px; font-size: 132%;"><span style="position: absolute; clip: rect(1.626em 1006.39em 2.817em -999.997em); top: -2.432em; left: 0.003em;"><span class="mrow" id="MathJax-Span-265"><span class="mn" id="MathJax-Span-266" style="font-family: STIXGeneral;">1</span><span class="texatom" id="MathJax-Span-267"><span class="mrow" id="MathJax-Span-268"><span class="mo" id="MathJax-Span-269" style="font-family: STIXGeneral;">/</span></span></span><span class="mo" id="MathJax-Span-270" style="font-family: STIXGeneral;">(</span><span class="mn" id="MathJax-Span-271" style="font-family: STIXGeneral;">4</span><span class="mo" id="MathJax-Span-272" style="font-family: STIXGeneral; padding-left: 0.273em;">∗</span><span class="mi" id="MathJax-Span-273" style="font-family: STIXGeneral; padding-left: 0.273em;">Δ</span><span class="mi" id="MathJax-Span-274" style="font-family: STIXGeneral; font-style: italic;">x<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mo" id="MathJax-Span-275" style="font-family: STIXGeneral; padding-left: 0.273em;">∗</span><span class="mi" id="MathJax-Span-276" style="font-family: STIXGeneral; padding-left: 0.273em;">Δ</span><span class="mi" id="MathJax-Span-277" style="font-family: STIXGeneral; font-style: italic;">y</span><span class="mo" id="MathJax-Span-278" style="font-family: STIXGeneral;">)</span></span><span style="display: inline-block; width: 0px; height: 2.438em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.354em; border-left-width: 0px; border-left-style: solid; width: 0px; height: 1.289em;"></span></span></nobr><span class="MJX_Assistive_MathML" role="presentation"><math xmlns="http://www.w3.org/1998/Math/MathML"><mn>1</mn><mrow class="MJX-TeXAtom-ORD"><mo>/</mo></mrow><mo stretchy="false">(</mo><mn>4</mn><mo>∗</mo><mi mathvariant="normal">Δ</mi><mi>x</mi><mo>∗</mo><mi mathvariant="normal">Δ</mi><mi>y</mi><mo stretchy="false">)</mo></math></span></span><script type="math/tex" id="MathJax-Element-15">1/(4 * \Delta x * \Delta y)</script></span>
 and <span class="math"><span class="MathJax_Preview" style="color: inherit;"></span><span class="MathJax" id="MathJax-Element-16-Frame" tabindex="0" data-mathml="<math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;><mn>1</mn><mrow class=&quot;MJX-TeXAtom-ORD&quot;><mo>/</mo></mrow><mo stretchy=&quot;false&quot;>(</mo><mn>4</mn><mo>&amp;#x2217;</mo><mi mathvariant=&quot;normal&quot;>&amp;#x0394;</mi><mi>y</mi><mo>&amp;#x2217;</mo><mi mathvariant=&quot;normal&quot;>&amp;#x0394;</mi><mi>x</mi><mo stretchy=&quot;false&quot;>)</mo></math>" role="presentation" style="position: relative;"><nobr aria-hidden="true"><span class="math" id="MathJax-Span-279" role="math" style="width: 8.498em; display: inline-block;"><span style="display: inline-block; position: relative; width: 6.442em; height: 0px; font-size: 132%;"><span style="position: absolute; clip: rect(1.626em 1006.39em 2.817em -999.997em); top: -2.432em; left: 0.003em;"><span class="mrow" id="MathJax-Span-280"><span class="mn" id="MathJax-Span-281" style="font-family: STIXGeneral;">1</span><span class="texatom" id="MathJax-Span-282"><span class="mrow" id="MathJax-Span-283"><span class="mo" id="MathJax-Span-284" style="font-family: STIXGeneral;">/</span></span></span><span class="mo" id="MathJax-Span-285" style="font-family: STIXGeneral;">(</span><span class="mn" id="MathJax-Span-286" style="font-family: STIXGeneral;">4</span><span class="mo" id="MathJax-Span-287" style="font-family: STIXGeneral; padding-left: 0.273em;">∗</span><span class="mi" id="MathJax-Span-288" style="font-family: STIXGeneral; padding-left: 0.273em;">Δ</span><span class="mi" id="MathJax-Span-289" style="font-family: STIXGeneral; font-style: italic;">y</span><span class="mo" id="MathJax-Span-290" style="font-family: STIXGeneral; padding-left: 0.273em;">∗</span><span class="mi" id="MathJax-Span-291" style="font-family: STIXGeneral; padding-left: 0.273em;">Δ</span><span class="mi" id="MathJax-Span-292" style="font-family: STIXGeneral; font-style: italic;">x<span style="display: inline-block; overflow: hidden; height: 1px; width: 0.003em;"></span></span><span class="mo" id="MathJax-Span-293" style="font-family: STIXGeneral;">)</span></span><span style="display: inline-block; width: 0px; height: 2.438em;"></span></span></span><span style="display: inline-block; overflow: hidden; vertical-align: -0.354em; border-left-width: 0px; border-left-style: solid; width: 0px; height: 1.289em;"></span></span></nobr><span class="MJX_Assistive_MathML" role="presentation"><math xmlns="http://www.w3.org/1998/Math/MathML"><mn>1</mn><mrow class="MJX-TeXAtom-ORD"><mo>/</mo></mrow><mo stretchy="false">(</mo><mn>4</mn><mo>∗</mo><mi mathvariant="normal">Δ</mi><mi>y</mi><mo>∗</mo><mi mathvariant="normal">Δ</mi><mi>x</mi><mo stretchy="false">)</mo></math></span></span><script type="math/tex" id="MathJax-Element-16">1/(4 * \Delta y * \Delta x)</script></span>
.</p>
<hr class="docutils">
</div>
</div>
