span {
    display: inline-block;
    vertical-align: middle !important;

}

.x-grid-cell-inner {
    display: inline-block !important;
}

img {
    vertical-align: middle !important;
}

.button-menu {
    background-size:contain;
}

.x-grid-cell-inner span {
    padding-left: 10px;
}

.x-grid-cell-inner span:not(.x-tree-node-text ) {
    line-height: 20px;
}
.x-datepicker-month .x-btn-default-small {
    background-image: none !important;
}

.x-resizable-handle {
    background-color: #2e52a4 !important;
}

.x-panel-header-default {
    background-color: #2e52a4 !important;
}

.x-panel-header-default {
    border-color: #2e52a4;
}

.x-panel-body-default {
    border-color: #2e52a4;
}

.x-window-header-default-top {
    background-color: #2e52a4 !important;
}
.x-window-header-default .x-tool-img {
    background-color: #2e52a4 !important;
}

.x-window-header-default {
    border-color: #2e52a4 !important;
}

.x-btn-default-small {
    background-color: #2e52a4 !important;
}

.x-window-default {
    border-color: #2e52a4 !important;
}

.x-btn-default-small {
    background-image: -webkit-linear-gradient(top,#2E53A4,#2E53A4 50%,#2E53A4 51%,#2E53A4) !important;
    background-image: -moz-linear-gradient(top,#2E53A4,#2E53A4 50%,#2E53A4 51%,#2E53A4) !important;
    background-image: -o-linear-gradient(top,#2E53A4,#2E53A4 50%,#2E53A4 51%,#2E53A4) !important;
    background-image: linear-gradient(top,#2E53A4,#2E53A4 50%,#2E53A4 51%,#2E53A4) !important;
    background-color: #2E53A4 !important;
    border-color: #FFFFFF !important;
}

.x-btn-default-small:hover {
    background-image: -webkit-linear-gradient(top,#0C2C70,#0C2C70 50%,#0C2C70 51%,#0C2C70) !important;
    background-image: -moz-linear-gradient(top,#0C2C70,#0C2C70 50%,#0C2C70 51%,#0C2C70) !important;
    background-image: -o-linear-gradient(top,#0C2C70,#0C2C70 50%,#0C2C70 51%,#0C2C70) !important;
    background-image: linear-gradient(top,#0C2C70,#0C2C70 50%,#0C2C70 51%,#0C2C70) !important;
    background-color: #0C2C70 !important;
    border-color: #FFFFFF !important;
}


.botonSimml {
    background-image: -webkit-linear-gradient(top,#FFFFFF,#FFFFFF 50%,#FFFFFF 51%,#FFFFFF) !important;
    background-image: -moz-linear-gradient(top,#FFFFFF,#FFFFFF 50%,#FFFFFF 51%,#FFFFFF) !important;
    background-image: -o-linear-gradient(top,#FFFFFF,#FFFFFF 50%,#FFFFFF 51%,#FFFFFF) !important;
    background-image: linear-gradient(top,#FFFFFF,#FFFFFF 50%,#FFFFFF 51%,#FFFFFF) !important;
    background-color: #FFFFFF !important;
    border-color: #FFFFFF !important;
}

.botonSimml .x-btn-inner {
    color: #2e52a4 !important;
    font-weight: bold !important;
    font-size: 13px !important;
}

.botonSimml:hover {
    background-image: -webkit-linear-gradient(top,#2E53A4,#2E53A4 50%,#2E53A4 51%,#2E53A4) !important;
    background-image: -moz-linear-gradient(top,#2E53A4,#2E53A4 50%,#2E53A4 51%,#2E53A4) !important;
    background-image: -o-linear-gradient(top,#2E53A4,#2E53A4 50%,#2E53A4 51%,#2E53A4) !important;
    background-image: linear-gradient(top,#2E53A4,#2E53A4 50%,#2E53A4 51%,#2E53A4) !important;
    background-color: #2E53A4 !important;
    border-color: #FFFFFF !important;
}

.botonSimml:hover .x-btn-inner {
    color: #FFFFFF !important;
    font-weight: bold !important;
    font-size: 13px !important;
}

.x-tool-img {
    height: 15px;
    width: 15px;
}
